// main nav
ul#menu.group.noiphone
  #logo
    a(href='#home')
      img.scale-with-grid(src='images/istit/logo-its.png', alt='')
    .lingua
      a.lang(href='index.html') It
      a.lang2(href='index_en.html') En
  li.colored(data-menuanchor='bandi')
    a(href='bandi.html') Bandi

  li
    a(href='matching.html') Matching
  li(data-menuanchor='contatti')
    a(href='#contatti', title='contatti') Contacts
  li(data-menuanchor='aziende')
    a(href='#aziende') Companies
  li(data-menuanchor='video')
    a(href='#video') Video
  //- li(data-menuanchor='coding')
  //-   a(href='#coding') Coding
  li(data-menuanchor='mobile')
    a(href='#mobile') Mobile
  li(data-menuanchor='campus')
    a(href='#campus') Campus
  li(data-menuanchor='home')
    a(href='#home') Home
// end main nav
