#outdated
  h6 Il tuo browser è vecchiotto.
  p
    | Questo sito è fatto con tecnologie moderne. Aggiorna il browser per vederlo correttamente!
    a#btnUpdate(href='http://outdatedbrowser.com/') Lo voglio aggiornare ora.
  p#btnClose
    a(href='#') Chiudi
