#section1.section
  
  #campus1.slide
    .intro
      .white
      .container
        .row.rowtop.rowbottom
          .eight.columns.offset-by-seven
            .box.purple
              h3.title3
                | The future in practice
              p.bodycopy
                | Something more than a school, something different to an academy. A place of training which is already a workplace, where you learn by doing. Where the teachers are professionals and entrepreneurs who apply and renew the business knowledge and experience that they impart on a daily basis. Whether you feel more like a startupper or dream of being employed, our goal is to broaden the field of your possibilities. Campus, in fact. The ITS Foundation for ICT Piemonte is an incubator for the future.
  #campus2.slide
    .intro
  
      .container
        
        .row
          .eight.columns.offset-by-seven
            .box.purple
              h3.title3
                | The field of action
              p.bodycopy
                | The Piazza dei Mestieri. A complex of industrial archaeology converted into classrooms with interactive whiteboards, an Apple room with 50 iMacs and a PC room with 90 workstations, study rooms in which to develop individual and team projects, a meeting hall, outdoor areas where to mix socially, and the Piazza’s brewery, which hosts events and concerts. The tools and means of production are available to students, from tablets to cameras, which can also be borrowed to continue work and experimentation off-campus.
    
