.career-01-wrapper
  .career-01-wrapper-inner-01
    .container
      .row
        .seven.columns
          h1 Amministrazione trasparente
  .career-01-wrapper-inner-02
    .container
      .row
        .seven.columns
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            br

          
.career-01-wrapper-inner-03
    .container#card-maxwidth
      .row(style="margin-bottom: 0")
        .fourteen.columns.transparency-card-wide.mdl-card.mdl-shadow--2dp
          
          h2 Categorie
          
          .banner-trasparenza
            img(src="/images/trasparenza/trasparenza1.png", alt="")
            img(src="/images/trasparenza/trasparenza2.png", alt="")
          
          .content-transparency
            
            .content-transparency-block-all
              
              //- PER PIER - NON c'è una divisione nettà dei blocchi (quelli tra le parole arancioni per capirci)
              //- QUINDI se vuoi basta che scommenti la classe e indenti tutto di 1, poi la cicli
              //- .content-transparency-block-category
              
              .content-transparency-title
                h3 Altri contenuti
              
              .content-transparency-block-single
                .content-transparency-single-title
                  p Accessibilità e catalogo dati
                
                .content-transparency-single-list
                  ul
                    li.doc-single
                      div.doc-logo
                        img(src="/images/trasparenza/document.svg", alt="")
                        
                      div.doc-main
                        p.doc-titolo BANDO DI GARA PER SERVIZIO DI DOCENZA
                        p.doc-pub Pubblicato il: 
                          span 31/12/2016
                        p.doc-sub T3 PROTOCOLLO N. 5693826r
                      
                      div.doc-download
                        a(href="#", target="_blank")
                          img(src="/images/trasparenza/download.svg", alt="")
                    
                    li.doc-single
                      div.doc-logo
                        img(src="/images/trasparenza/document.svg", alt="")
                        
                      div.doc-main
                        p.doc-titolo BANDO DI GARA PER SERVIZIO DI DOCENZA
                        p.doc-pub Pubblicato il: 
                          span 31/12/2016
                        p.doc-sub T3 PROTOCOLLO N. 5693826r
                      
                      div.doc-download
                        a(href="#", target="_blank")
                          img(src="/images/trasparenza/download.svg", alt="")
            
              
              
              .content-transparency-block-single
                .content-transparency-single-title
                  p Funzioni secondarie
                
                .content-transparency-single-list
                  ul
                    li.doc-single
                      div.doc-logo
                        img(src="/images/trasparenza/document.svg", alt="")
                        
                      div.doc-main
                        p.doc-titolo BANDO DI GARA PER SERVIZIO DI DOCENZA
                        p.doc-pub Pubblicato il: 
                          span 31/12/2016
                        p.doc-sub T3 PROTOCOLLO N. 5693826r
                      
                      div.doc-download
                        a(href="#", target="_blank")
                          img(src="/images/trasparenza/download.svg", alt="")
                    
                    li.doc-single
                      div.doc-logo
                        img(src="/images/trasparenza/document.svg", alt="")
                        
                      div.doc-main
                        p.doc-titolo BANDO DI GARA PER SERVIZIO DI DOCENZA
                        p.doc-pub Pubblicato il: 
                          span 31/12/2016
                        p.doc-sub T3 PROTOCOLLO N. 5693826r
                      
                      div.doc-download
                        a(href="#", target="_blank")
                          img(src="/images/trasparenza/download.svg", alt="")
            
            
              .content-transparency-title
                h3 Attività e procedimenti
              
              .content-transparency-block-single
                .content-transparency-single-title
                  p Bla Bla
                
                .content-transparency-single-list
                  ul
                    li.doc-single
                      div.doc-logo
                        img(src="/images/trasparenza/document.svg", alt="")
                        
                      div.doc-main
                        p.doc-titolo BANDO DI GARA PER SERVIZIO DI DOCENZA
                        p.doc-pub Pubblicato il: 
                          span 31/12/2016
                        p.doc-sub T3 PROTOCOLLO N. 5693826r
                      
                      div.doc-download
                        a(href="#", target="_blank")
                          img(src="/images/trasparenza/download.svg", alt="")
                    
                    li.doc-single
                      div.doc-logo
                        img(src="/images/trasparenza/document.svg", alt="")
                        
                      div.doc-main
                        p.doc-titolo BANDO DI GARA PER SERVIZIO DI DOCENZA
                        p.doc-pub Pubblicato il: 
                          span 31/12/2016
                        p.doc-sub T3 PROTOCOLLO N. 5693826r
                      
                      div.doc-download
                        a(href="#", target="_blank")
                          img(src="/images/trasparenza/download.svg", alt="")
            
              
              
              .content-transparency-block-single
                .content-transparency-single-title
                  p Basta con sti dicumenti
                
                .content-transparency-single-list
                  ul
                    li.doc-single
                      div.doc-logo
                        img(src="/images/trasparenza/document.svg", alt="")
                        
                      div.doc-main
                        p.doc-titolo BANDO DI GARA PER SERVIZIO DI DOCENZA
                        p.doc-pub Pubblicato il: 
                          span 31/12/2016
                        p.doc-sub T3 PROTOCOLLO N. 5693826r
                      
                      div.doc-download
                        a(href="#", target="_blank")
                          img(src="/images/trasparenza/download.svg", alt="")
                    
                    li.doc-single
                      div.doc-logo
                        img(src="/images/trasparenza/document.svg", alt="")
                        
                      div.doc-main
                        p.doc-titolo BANDO DI GARA PER SERVIZIO DI DOCENZA
                        p.doc-pub Pubblicato il: 
                          span 31/12/2016
                        p.doc-sub T3 PROTOCOLLO N. 5693826r
                      
                      div.doc-download
                        a(href="#", target="_blank")
                          img(src="/images/trasparenza/download.svg", alt="")
            
                
