.career-01-wrapper
  .career-01-wrapper-inner-01
    .container
      .row
        .seven.columns
          h1 Sei alla ricerca di giovani talenti?
  .career-01-wrapper-inner-02
    .container
      .row
        .seven.columns
          p ITS si impegna ad agevolare l’inserimento degli studenti nel mondo del lavoro attraverso l’attivazione di tirocini formativi, garantendo un’attività di costante supporto e monitoraggio. <br />Le Aziende ed i professionisti che si rivolgono ad ITS, hanno la possibilità di ricevere una selezione di curriculum mirati, dando massima visibilità agli studenti e ottimizzando così i tempi di selezione.
  .career-01-wrapper-inner-03
    .container
      .row
        .seven.columns
          

          #demo-toast-example.mdl-js-snackbar.mdl-snackbar
            .mdl-snackbar__text
            button.mdl-snackbar__action(type='button')


          .career-form.corso-form
            h3 Scegli il corso, noi ti proponiamo le persone! 
            form#matching-form(action='send-email.php', method="post")
              input(type="hidden",name="Hidden")
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#sample1.mdl-textfield__input(type='text',name="Nome", required)
                label.mdl-textfield__label(for='sample1') Nome Contatto
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#sample2.mdl-textfield__input(type='text',name="Azienda", required)
                label.mdl-textfield__label(for='sample2') Nome Azienda
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#sample3.mdl-textfield__input(type='email',name="Email", required)
                label.mdl-textfield__label(for='sample3') Email
              label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='checkbox-1')
                input#checkbox-1.mdl-checkbox__input(type='checkbox',name="Check1")
                span.mdl-checkbox__label Mobile App Design
              label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='checkbox-2')
                input#checkbox-2.mdl-checkbox__input(type='checkbox',name="Check2")
                span.mdl-checkbox__label Coding
              label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='checkbox-3')
                input#checkbox-3.mdl-checkbox__input(type='checkbox',name="Check3")
                span.mdl-checkbox__label Videomaking
              input#richiedi.mdl-button.mdl-button-sito.mdl-js-button.mdl-button--raised(type="submit",name="sub",value="Richiedi")
                
