#section0.section
  #preloader
    #status  
  #hover 
  .white
  .container.topintro
    .row
      .twelve.columns.offset-by-two
        h1.text-align.title ITS. L'AVVENIRE IN PRATICA
        h3.text-align.title2
          | Un luogo dove si impara facendo.
          br
          | 					 Un incubatore di futuro.
          br
          | Questo è Fondazione ITS per l'ICT Piemonte.
    .row.text-align
      #btn_corsi.four.columns.offset-by-one.alpha
        a#btn_appmobile.btn(href='#mobile')
          img.scale-with-grid2(src='images/splash/btn_appmobile.png', alt='appmobiledesign')
      #btn_corsi.four.columns.offset-by-one.alpha
        a#btn_coding.btn(href='#coding')
          img.scale-with-grid2(src='images/splash/btn_coding.png', alt='coding')
      #btn_corsi.four.columns.offset-by-one.alpha
        a#btn_videomaking.btn(href='#video')
          img.scale-with-grid2(src='images/splash/btn_videomaking.png', alt='videomaking')
  #link_news
    ul
      li.erasmus
        a(href='pdf/carta erasmus it.pdf')
          | Scopri 
          img(src='images/istit/erasmus.png')
