.career-03-wrapper
  .container
    .row
      .twelve.columns
        h4 Coding - Anno 2013
    .row.line-bottom
      .three.columns.career-profile.career-profile-head
        .career-profile-head-pic
          img(src="http://placehold.it/80x80", alt="")
        .career-profile-head-name
          p Alberto Camogli
        .career-profile-head-button
          button.mdl-button.mdl-button-profile.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
            | Contatta
      
      .seven.columns.career-profile.career-profile-bio
        .career-profile-bio-title
          p Bio
        .career-profile-bio-main
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
      .six.columns.career-profile.career-profile-skills
        .career-profile-bio-title
          p Skills
        ul
          li UX Design
          li Graphic Design
          li HTML
          li Gatto
          li Cane
