#section4.section
  #video1.slide(style="position: relative")
    .intro
      .white
      .container
        .row.small
          .ten.columns.offset-by-two
            .box( style="background-color: rgba(255, 255, 255, 0.6)")
              h2.title3 Videomaking
              h4.bodycopy
                | Diploma di Tecnico superiore per l’organizzazione e la fruizione dell’informazione e della conoscenza.
              p.bodycopy
                | Più schermi, ovunque e sempre disponibili = infiniti palinsesti da rifornire = una domanda enorme di contenuti audiovisivi da soddisfare. Il corso biennale di Videomaking trasmette il sapere attivo che ti mette in grado di sintonizzarti su queste necessità.
                | Alla fine del percorso saprai ideare, progettare e realizzare un prodotto audiovisivo di qualità, creare grafica 2D e 3D e animazioni, operare sia in ambito creativo e tecnico in ogni realtà che produca, distribuisca o consumi contenuti, muoverti consapevolmente ed efficacemente nel mondo del lavoro e nei contesti aziendali.
                | Il corso prevede una base comune e due specializzazioni alternative e complementari: 3D per l'animazione e postproduzione video.
                br
                | 					Your future is now loading...
  #video5.slide
    .intro
      .container
        .row.rowtop
          .four.columns
            img.scale-with-grid(src='images/corsi/matematica.png', alt='')
            h4
              | Matematica per ambiente tecnico 
              span
                br
                | (30 ore)
            p.corso
              | Algebra lineare
              br
              | 							Funzioni reali di variabile reale
              br
              | 							Geometria del piano (euclidea e analitica)
              br
              | 							Geometria nello spazio (euclidea e analitica)
              br
              | 							Richiami di algebra
          .four.columns
            img.scale-with-grid(src='images/corsi/fisica.png', alt='')
            h4
              | Fisica tecnica 
              span
                br
                | (24 ore)
            p.corso
              | Comunicare la fisica
              br
              | 							Metodo sperimentale, misura
              br
              | 							Onde
              br
          .four.columns
            img.scale-with-grid(src='images/corsi/informatica.png', alt='')
            h4
              | Informatica 
              span
                br
                | (30 ore)
            p.corso
              | Hardware dei personal computer: tecnologie, assemblaggio e manutenzione
              br
              | 							I sistemi operativi della famiglia Windows
              br
              | 							Tecnologie e gestione dei dispositivi portatili
              br
              | 							Cenni ad altre tipologie di hardware e Sistemi Operativi
              br
              | 							I personal computer come client di rete: tecnologie e nozioni di sicurezza
          .four.columns
            img.scale-with-grid(src='images/corsi/crossmedia.png', alt='')
            h4
              | Comunicazione multimediale e cross media
              span
                br
                | (40 ore)
            p.corso
              | Crossmedialità
              br
              | 							Multimedialità
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/controlloqualita.png', alt='')
            h4
              | Controllo qualità del prodotto multimediale 
              span
                br
                | (20 ore)
            p.corso
              | L'interaction design
              br
              | 							Il fiction design
              br
              | 							Usabilità
          .four.columns
            img.scale-with-grid(src='images/corsi/videografica.png', alt='')
            h4
              | Grafica bitmap e vettoriale
              span
                br
                | (48 ore)
            p.corso
              | Illustrator
              br
              | 							Photoshop
          .four.columns
            img.scale-with-grid(src='images/corsi/storyboard.jpg', alt='')
            h4
              | Preproduzione e progettazione cinetelevisiva 
              span
                br
                | (68 ore)
            p.corso
              | Scrittura e analisi di un soggetto
              br
              | 							Sceneggiatura
              br
              | 							Storyboard
              br
              | 							Casting
          .four.columns
            img.scale-with-grid(src='images/corsi/ideazione.png', alt='')
            h4
              | Ideazione e narrazione audiovisiva
              span
                br
                | (60 ore)
            p.corso
              | La narrazione cinematografica
              br
              | 	  						La narrazione documentale
              br
              | 	  						La narrazione giornalistica
              br
              | 	  						La narrazione istituzionale
              br
              | 	  						La narrazione per ragazzi
              br
              | 	  						La narrazione pubblicitaria
              br
              | 	  						La narrazione seriale
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/workflow.png', alt='')
            h4
              | Work flow e planning cinetelevisivo 
              span
                br
                | (60 ore)
            p.corso
              | I flussi di lavoro per le produzioni (pianificazione e gestione): la direzione della produzione
              br
              | 							Il video digitale
              br
              | 							Il lavoro dell'audiovisivo
              br
              | 							Aspetti specifici di sostenibilità
              br
              | 							Relazionarsi in un gruppo di lavoro
          .four.columns
            img.scale-with-grid(src='images/corsi/distribuzioneweb.png', alt='')
            h4
              | Distribuzione web e processi di innovazione 
              span
                br
                | (30 ore)
            p.corso
              | Reti sociali sul web: l'origine dei social networks
              br
              | 							Interattività, simultaneità e multimedialità: come funzionano i new media
              br
              | 							Utilizzo base dei più comuni CMS JOOMLA, Wordpress
              br
              | 							Social media marketing: i social network come motore di business
              br
              | 							I motori di ricerca: progettazione, indicizzazione e utilizzo
          .four.columns
            img.scale-with-grid(src='images/corsi/planningfinanziario.png', alt='')
            h4
              | Planning finanziario di produzione 
              span
                br
                | (30 ore)
            p.corso
              | Analisi economica delle tecniche di comunicazione
              br
              | 							Il pubblico, cosa acquista, dove e perché e come si verifica il risultato
              br
              | 							Tipologie di business conosciuti e di potenziali nuovi business
          .four.columns
            img.scale-with-grid(src='images/corsi/editingvideo.png', alt='')
            h4
              | Montaggio ed Editing Audiovisivo 
              span
                br
                | (84 ore)
            p.corso
              | Tipologie di montaggio
              br
              | 							Nozioni base di montaggio
              br
              | 							Teoria del suono e editing audio
              br
              | 							Preparazione esame finale
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/after.jpg', alt='')
            h4
              | Videografica 
              span
                br
                | (48 ore)
            p.corso
              | Titolazioni
              br
              | 							Sigle
              br
              | 							Sottopancia
          .four.columns
            img.scale-with-grid(src='images/corsi/inglese.png', alt='')
            h4
              | Inglese 
              span
                br
                | (100 ore)
            p.corso
              | Percorso per il conseguimento certificazione B2
              br
              | 							Grammatica
              br
              | 							Terminologia tecnica
              br
              | 							Conversazione
          .four.columns
            img.scale-with-grid(src='images/corsi/sicurezzalavoro.png', alt='')
            h4
              | Sicurezza sul lavoro 
              span
                br
                | (8 ore)
            p.corso
              | Normativa di riferimento
              br
              | 							Indicazioni di base
          .four.columns
            img.scale-with-grid(src='images/corsi/equal.png', alt='')
            h4
              | Pari opportunità 
              span
                br
                | (8 ore)
            p.corso
              | Conoscenza delle principali normative
              br
              | 	  						Sensibilizzazione alle pari opportunità’
        .row.rowbottom
          .four.columns
            img.scale-with-grid(src='images/corsi/dirittocomunicazione.png', alt='')
            h4
              | Diritto ed etica della comunicazione 
              span
                br
                | (20 ore)
            p.corso
              | La società dell'informazione
          .four.columns
            img.scale-with-grid(src='images/corsi/laboratorio.png', alt='')
            h4
              | Laboratorio di preparazione tesi finale 
              span
                br
                | (32 ore)
            p.corso
              | Progetto di tesi
          .four.columns
            img.scale-with-grid(src='images/corsi/laboratorio.png', alt='')
            h4
              | Compositing e Visual FX 
              span
                br
                | (190 ore)
            p.corso
              | Storia degli effetti speciali
              br
              | 							Tecniche di ripresa per gli effetti speciali digitali
              br
              | 							After effects avanzato
              br
              | 							Analisi dei contenuti e scelta delle tecniche di produzione e workflow
              br
              | 							Motion graphics
              br
              | 							Introduzione ad altri software di compositing
          .four.columns
            img.scale-with-grid(src='images/corsi/ripresaprofessionale.png', alt='')
            h4
              | Tecniche di ripresa
              span
                br
                | (80 ore)
            p.corso
              | Le attrezzature
              br
              | 	  						Le riprese audio
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/editingaudio.png', alt='')
            h4
              | Sound design
              span
                br
                | (50 ore)
            p.corso
              | Fondamenti di sound design
              br
              | 							Sound editing
              br
              | 							L'audio
          .four.columns
            img.scale-with-grid(src='images/corsi/foto.jpg', alt='')
            h4
              | Fotografia per il cinema
              span
                br
                | (50 ore)
            p.corso
              | Le inquadrature
              br
              | 	  						Le luci
              br
              | 	  						La color correction
          .four.columns
            img.scale-with-grid(src='images/corsi/editingavanzato.png', alt='')
            h4
              | Editing video avanzato 
              span
                br
                | (60 ore)
            p.corso
              | Teoria e tecnica del montaggio video avanzato
              br
              | 	  						Approfondimento sw di montaggio video (premiere, avid, etc)
          .four.columns
            img.scale-with-grid(src='images/corsi/postit.jpg', alt='')
            h4
              | Approfondimenti didattici
              span
                br
                | (40 ore)
            p.corso
              | Esercitazioni - Project work
              br
              | 	  						Incontro con il mondo del lavoro
        .row.rowbottom
          .four.columns
            img.scale-with-grid(src='images/corsi/orient.jpg', alt='')
            h4
              | Orientamento
              span
                br
                | (36 ore)
            p.corso
              | Definizione e valutazione dei propri progetti: personale e professionale
              br
              | 	  						Il contesto di riferimento del percorso formativo
              br
              | 	  						Le caratteristiche personali
              br
              | 	  						Valorizzazione dei propri progetti: personale e professionale
  #video2.slide
    img.scrollmobile(src='images/bg4v_iphone.png')
    img.scrolltablet(src='images/bg4v_ipad.png')
    img.scrollweb(src='images/bg4v.png')
  #video3.slide.video-3-it
    img.scrollmobile(src='images/bg5v_iphone.png')
    img.scrolltablet(src='images/bg5v_ipad.png')
    img.scrollweb(src='images/bg5v.png')
  #video4.slide.video-4-it
    img.scrollmobile(src='images/bg6v_iphone.png')
    img.scrolltablet(src='images/bg6v_ipad.png')
    img.scrollweb(src='images/bg6v.png')
