#section6.section
  #contatti1.slide
    .white
    .intro
      .container
        .seven.columns.offset-by-one
          .box.green
            h2.title3 Passaporti per il mondo
            p.bodycopy
              | Rilasciamo diplomi di Tecnico Superiore riconosciuti a livello nazionale ed europeo, che ti consentono di competere da subito sul mercato del lavoro più ampio. Per maggiori informazioni contatta l'800 985 384, scrivi a 
              strong info[at]its-ictpiemonte[dot]it
              |  o visita la pagina bandi e prenota un colloquio.
            p#info
              strong Sede legale
              br
              | 							Torino, Piazza Carlo Felice, 18
              br
              strong Sedi operative
              br
              | 							Torino, Piazza 2, via Jacopo Durandi 10, Telefono +39 011 0371500
              br
              | 							Moncalieri, ITIS Pininfarina, via Ponchielli 16, Telefono +39 011 6058311 r.a.
              br
              strong P.IVA
              |  10600860018
              br
              strong C.F.
              |  97734430016
              br
              strong Numero REA
              |  TO – 1147027
              br
              strong Registro
              |  PG Pref. di Torino nr. 731
              br
              strong PEC
              |  its-ictpiemonte@pec.it
        .seven.columns
          // Begin MailChimp Signup Form
          #mc_embed_signup
            a.button(href='registrati.html')
              | Registrati per ricevere aggiornamenti su corsi, eventi, iscrizioni e tutte le novità di ITS per l’ICT Piemonte.
              br
              br
              span Registrati
        // End mc_embed_signup
        .seven.columns
          ul#istlogo
            li#fondo.istit(style='display: inline; padding-right: 5px;')
              img(data-src='images/istit/logo-fondo.png', width='60px')
            li#regione.istit(style='display: inline; padding-right: 5px;')
              img(data-src='images/istit/logo-reg-piemonte.png')
            li#miur.istit(style='display: inline;')
              img(data-src='images/istit/logo2-miur.jpg', width='60px')
  #contatti2.slide
    #map
    .container.buoy
      .eleven.columns
        .box.green
          h3.title3 Vieni a trovarci
          p.bodycopy
            | Un attimo dalla fermata del tram, cinque minuti dalla metropolitana, pochi passi dalla stazione di Porta Susa: il campus è facile e comodo da raggiungere, qualunque sia il punto di partenza. Da Milano, per esempio, basta meno di un'ora di treno ad alta velocità per essere in ITS.
