.career-02-wrapper
  .career-02-wrapper-inner-01
    .container
      .row
        .seven.columns
          h2 Cerca la persona giusta per te!
  .career-01-wrapper-inner-02
    .container
      .row
        .seven.columns
          p ITS ICT ti offre la possibilità di personalizzare la ricerca tra i profili disponibili e, una volta ottenuto il risultato desiderato, contattare la persona che ha il profilo giusto per la tua azienda o il tuo studio professionale.
  .career-01-wrapper-inner-03
    .container
      .row
        .seven.columns
          .career-form.corso-form
            h3 Cerca tra i profili disponibili! 
            form#filter(action='#', method="get")
              input(type="hidden",name="Hidden")
              br
              br
              label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='checkbox-4')
                input#checkbox-4.mdl-checkbox__input(type='checkbox', name="Check4", checked="", value="Mobile App Design")
                span.mdl-checkbox__label Mobile App Design
              label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='checkbox-5')
                input#checkbox-5.mdl-checkbox__input(type='checkbox', name="Check5", value="Coding")
                span.mdl-checkbox__label Coding
              label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='checkbox-6')
                input#checkbox-6.mdl-checkbox__input(type='checkbox' ,name="Check6", value="Videomaking")
                span.mdl-checkbox__label Videomaking
              button#visiona.mdl-button.mdl-button-sito.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
                | Visiona
