.container.matching-title
  .row
    .six.columns.career-open
      h2 Career Matching
      .career-arrow
        img(src="images/down-arrow-career.png", alt="")
    .six.columns
      .career-switch-container
        a.career-switch#switch-1(href="#") Per corso
        
        //- a.career-switch#switch-2(href="#") Per studenti
    
