#section5.section
  #aziende1.slide
    .white
    .intro
      .container
        .row.rowtop.rowbottom
          .eight.columns.offset-by-seven
            .box.blue
              h3.title3
                | È ora di tornare a scuola
              p.bodycopy
                | È la natura stessa del campus di ITS per l'ICT Piemonte – un territorio comune tra formazione e mondo del lavoro – a farne il luogo ideale dove le aziende possono confrontarsi e arricchirsi, reclutare giovani talenti, far germinare idee e innovazione. 
                br
                | Sfoglia queste pagine per scoprire tutte le possibilità di collaborazione, e raggiungici allo 
                strong 011 0371500 
                |  o a 
                strong info@its-ictpiemonte.it
                |  per approfondire necessità e richieste.
  #aziende2.slide
  
    .intro
      .container
        .row
          .eight.columns.offset-by-seven
            .box.blue
              h3.title3
                | Talenti plug-and-play
              p.bodycopy
                | Competenza, entusiasmo, coraggio e un'incontenibile voglia di fare: se cerchi teste pensanti ed energie nuove da integrare in azienda, i ragazzi del campus di ITS per l'ICT Piemonte sono la soluzione. Nei nostri corsi trovi designer dell'interazione, coder,  graphic designer, esperti di internet of things, registi, montatori, animatori 2D e 3D, tecnici del suono e molto altro. La formula giusta la troviamo insieme: è possibile ospitare studenti in stage per periodi fino a oltre tre mesi, e naturalmente fare scouting di risorse da contrattualizzare.
  #aziende3.slide
    .intro
      .container
        .row
          .eight.columns.offset-by-seven
            .box.blue
              h3.title3
                | Quando si dice investire in formazione
              p.bodycopy
                | Condividere sapere ed esperienza in un progetto di formazione di giovani professionisti rappresenta per un'azienda una vera opportunità per mettere alla prova e riprogrammare visione e capabilities, creare authority e guadagnare visibilità nei confronti di istituzioni e stakeholder, fare rete e incontrare nuovi potenziali partner. Il campus è aperto a diverse modalità di collaborazione, dall'inserimento di docenti in moduli didattici alla realizzazione di talk e workshop tematici.
  #aziende4.slide
    .intro
      .container
        .row
          .eight.columns.offset-by-seven
            .box.blue
              h3.title3
                | Progettiamo in comune
              p.bodycopy
                | Parola d'ordine cocreazione. Puoi mobilitare l'energia creativa dei partecipanti ai corsi del campus proponendo brief disegnati sulle necessità della tua azienda. Il progetto viene valutato e quindi inserito nel ciclo didattico e gli studenti, guidati da team ristretti di docenti e con il coinvolgimento del partner nel processo, lavorano per trovare le idee più innovative e le soluzioni più efficaci. La durata dei progetti può andare dal brevissimo termine, ad esempio 15 giorni, fino a tre mesi e oltre.
  #aziende5.slide
    .intro
      .container.mobilemargin
        .row
          .three.columns
            a(href='http://www.adobe.com')
              img.scale-with-grid(src='images/logo/adobe.jpg', alt='')
          .three.columns
            a(href='http://www.cisco.com')
              img.scale-with-grid(src='images/logo/cisco.jpg', alt='')
          .three.columns
            a(href='http://www.snc.it')
              img.scale-with-grid(src='images/logo/csc.jpg', alt='')
          .three.columns
            a(href='http://www.enarmoniapictures.com')
              img.scale-with-grid(src='images/logo/enarmonia.jpg', alt='')
          .three.columns
            a(href='http://www.enhancers.it')
              img.scale-with-grid(src='images/logo/enhancers.jpg', alt='')
        .row
          .three.columns
            a(href='http://www.fctp.it')
              img.scale-with-grid(src='images/logo/fctp.jpg', alt='')
          .three.columns
            a(href='http://www.salonelibro.it')
              img.scale-with-grid(src='images/logo/libro.jpg', alt='')
          .three.columns
            a(href='http://www.immaginazioneelavoro.it')
              img.scale-with-grid(src='images/logo/logo-01.jpg', alt='')
          .three.columns
            a(href='http://www.piazzadeimestieri.it')
              img.scale-with-grid(src='images/logo/logo-02.jpg', alt='')
          .three.columns
            a(href='http://www.provincia.torino.it')
              img.scale-with-grid(src='images/logo/logo-03.jpg', alt='')
        .row
          .three.columns
            a(href='http://www.itispininfarina.it')
              img.scale-with-grid(src='images/logo/logo-05.jpg', alt='')
          .three.columns
            a(href='http://www.fondazionescuola.it')
              img.scale-with-grid(src='images/logo/logo-06.jpg', alt='')
          .three.columns
            a(href='http://www.polito.it')
              img.scale-with-grid(src='images/logo/poli-01.jpg', alt='')
          .three.columns
            a(href='http://www.telecom.it')
              img.scale-with-grid(src='images/logo/telecom.jpg', alt='')
          .three.columns
            a(href='http://www.torinofilmfest.org')
              img.scale-with-grid(src='images/logo/torinofilmfestival.jpg', alt='')
        .row
          .three.columns
            a(href='http://www.torinowireless.it')
              img.scale-with-grid(src='images/logo/tw_logo.jpg', alt='')
          .three.columns
            a(href='http://www.viewconference.it')
              img.scale-with-grid(src='images/logo/viewlogo_low(old).jpg', alt='')
