.career-02-wrapper
  .container
    .row
      .seven.columns
        h2 Cerca la persona giusta per te!
        p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam.
        .career-form.corso-form
          h3 Cerca tra i profili disponibili! 
          form(action='#')
            label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='option-1')
              input#option-1.mdl-radio__button(type='radio', name='options', value='1', checked='')
              span.mdl-radio__label Anno 2014
            label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='option-2')
              input#option-2.mdl-radio__button(type='radio', name='options', value='2')
              span.mdl-radio__label Anno 2013
            label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='option-3')
              input#option-3.mdl-radio__button(type='radio', name='options', value='3')
              span.mdl-radio__label Anno 2012
            br
            br
            label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='checkbox-4')
              input#checkbox-4.mdl-checkbox__input(type='checkbox')
              span.mdl-checkbox__label Mobile App Design
            label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='checkbox-5')
              input#checkbox-5.mdl-checkbox__input(type='checkbox')
              span.mdl-checkbox__label Coding
            label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='checkbox-6')
              input#checkbox-6.mdl-checkbox__input(type='checkbox')
              span.mdl-checkbox__label Videomaking
            button#visiona.mdl-button.mdl-button-sito.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
              | Visiona
