#section2.section
  #mobile1.slide(style="position: relative")
    .intro
      .white
      .container
        .row.small
          .ten.columns.offset-by-two
            .box( style="background-color: rgba(255, 255, 255, 0.6)")
              h2.title3 Mobile App Design
              h4.bodycopy
                | Tecnico superiore per i metodi e le tecnologie per lo sviluppo di sistemi software.
              p.bodycopy
                | Le app sono qui per restare. Se sai pensarle e realizzarle, invece, non ti fermerai mai. Il corso biennale di Mobile App Design percorre l'intero ciclo produttivo delle applicazioni, dall'idea allo sviluppo, all'esecuzione, al modello di business.
                | Acquisirai le competenze per ideare un prodotto multimediale esteticamente e funzionalmente compiuto, progettare un'applicazione a partire da specifiche date, sviluppare e testare le app mobile, distribuirle e promuoverle, e per muoversi consapevolmente ed efficacemente nel mondo del lavoro e nei contesti aziendali.
                | Non formiamo semplici programmatori, ma veri progettisti..
  #mobile5.slide
    .intro
      .container
        .row.rowtop
          .four.columns
            img.scale-with-grid(src='images/corsi/fonts.png', alt='')
            h4
              | Tipografia e griglie 
              span
                br
                | (60 ore)
            p.corso
              | L'alfabeto e la grammatica dell'occhio:
              br
              | Anatomia dei caratteri tipografici
              br
              | Gestione dei caratteri
              br
              | Fondamenti di tipografia
              br
              | Elementi di impaginazione
          .four.columns
            img.scale-with-grid(src='images/corsi/graphic.png', alt='')
            h4
              | Visual design 
              span
                br
                | (60 ore)
            p.corso
              | Se è bello, funziona meglio:
              br
              | Indicazioni di base
              br
              | La comunicazione attraverso l'immagine
          .four.columns
            img.scale-with-grid(src='images/corsi/qualres.png', alt='')
            h4
              | Ricerca qualitativa 
              span
                br
                | (30 ore)
            p.corso
              | Imparare dagli utenti per progettare con successo:
              br
              | Introduzione allo user-centered design
              br
              | Tecniche e metodi di ricerca
          .four.columns
            img.scale-with-grid(src='images/corsi/workshop.png', alt='')
            h4
              | Laboratori 
              span
                br
                | (80 ore)
            p.corso
              | Learning by doing, by doing, by doing:
              br
              | Laboratorio di ideazione - Creare un prodotto multimediale
              br
              | Laboratorio di progettazione - Progettare in teamwork un prodotto software
              br
              | Laboratorio di sviluppo - Progetto di tesi
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/arduino.png', alt='')
            h4
              | Physical computing Arduino 
              span
                br
                | (40 ore)
            p.corso
              | Internet delle cose, internet delle persone. Più l'hardware si fa invisibile, più conta:
              br
              | Circuiti integrati e prototipazione
              br
              | Sensori e controller
              br
              | Arduino
              br
              | Raspberry Pi
          .four.columns
            img.scale-with-grid(src='images/corsi/algorhitm.png', alt='')
            h4
              | Algoritmi e strutture dati 
              span
                br
                | (75 ore)
            p.corso
              | Anche il codice ha un'ossatura:
              br
              | Definizione di algoritmo Introduzione alle strutture dati Programmazione funzionale
          .four.columns
            img.scale-with-grid(src='images/corsi/prj.png', alt='')
            h4
              | Project management 
              span
                br
                | (16 ore)
            p.corso
              | Progettazione
              br
              | Realizzazione
          .four.columns
            img.scale-with-grid(src='images/corsi/java.png', alt='')
            h4
              | Programmazione orientata agli oggetti 
              span
                br
                | (60 ore)
            p.corso
              | Le basi della programmazione orientata agli oggetti
              br
              | Elementi di linguaggio JAVA
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/UIdesign.png', alt='')
            h4
              | User interface design 
              span
                br
                | (60 ore)
            p.corso
              | L'architettura dell'interazione. Perché gli utenti hanno bisogno di strutture belle, solide e funzionali:
              br
              | L' interaction design e i suoi 5 principi cardine
              br
              | Benchmarking, moodboard e analisi critica delle interfacce
              br
              | Concept design
              br
              | Architettura dell'informazione
              br
              | Wireframe
              br
              | Scenari d'uso
          .four.columns
            img.scale-with-grid(src='images/corsi/usabilita.png', alt='')
            h4
              | Usabilità delle app 
              span
                br
                | (30 ore)
            p.corso
              | Principi di usabilità
              br
              | Euristiche
          .four.columns
            img.scale-with-grid(src='images/corsi/html.png', alt='')
            h4
              | Web per mobile 
              span
                br
                | (115 ore)
            p.corso
              | Seamless. Un'esperienza digitale reattiva, fluida, sempre disponibile:
              br
              | Strutturazione della pagina web e fogli stile
              br
              | I linguaggi HTML/XHTML/HTML5 e CSS
              br
              | Come rendere interattiva una paginaweb o un'applicazione web-based
              br
              | JavaScript e jQuery
          .four.columns
            img.scale-with-grid(src='images/corsi/database.png', alt='')
            h4
              | DataBase (Base di dati 1 e Base di dati 2 SQL Server)
              span
                br
                | (85 ore)
            p.corso
              | La gestione dei dati e delle loro relazioni:
              br
              | Introduzione a Microsoft SQL Server
              br
              | Architettura di SQL Server
              br
              | Tecniche di indicizzazione
              br
              | Metodologie di trasferimento dati
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/android.png', alt='')
            h4
              | Android 
              span
                br
                | (120 ore)
            p.corso
              | Il sistema operativo di Google in tutte le sue sfumature e possibilità:
              br
              | Le basi dello sviluppo in Android
              br
              | Interazione fra le varie componenti dell'app
              br
              | Gestione dei dati all'interno di un'app
              br
              | Interazione con dati esterni: il webservice
          .four.columns
            img.scale-with-grid(src='images/corsi/apple.png', alt='')
            h4
              | Programmazione iOS 
              span
                br
                | (40 ore)
            p.corso
              | Padroneggiare logiche e linguaggi di programmazione della piattaforma Apple:
              br
              | Elaborare interfacce multimediali e multicanale
              br
              | Utilizzare linguaggi per la realizzazione di sistemi e applicazioni
          .four.columns
            img.scale-with-grid(src='images/corsi/iot.png', alt='')
            h4
              | Internet delle cose 
              span
                br
                | (30 ore)
            p.corso
              | Connettere il mondo reale a quello virtuale per migliorarlo:
              br
              | Definizione e relative applicazioni
              br
              | Interazione tra web e realtà fisica
              br
              | RFID, barcode, QR code e NFC
              br
          .four.columns
            img.scale-with-grid(src='images/corsi/mktg.png', alt='')
            h4
              | Digital marketing 
              span
                br
                | (50 ore)
            p.corso
              | Se i mercati sono conversazioni, il mobileverse è il più grande mercato mai esistito:
              br
              | Fondamenti di marketing e comunicazione
              br
              | Digital e mobile marketing
              br
              | Personal branding e public speaking
        .row.rowbottom
          .four.columns
            img.scale-with-grid(src='images/corsi/reti2-01.png', alt='')
            h4
              | Reti di calcolatori
              span
                br
                | (30 ore)
            p.corso
              | Aspetti specifici di sostenibilità
              br
              | Introduzione alle reti informatiche
              br
              | Protocolli di indirizzamento e instradamento
              br
              | Tecnologie per l'accesso alla rete
          .four.columns
            img.scale-with-grid(src='images/corsi/inglese.png', alt='')
            h4
              | Inglese 
              span
                br
                | (70 ore)
            p.corso
              | Per programmare il futuro devi conoscere il codice in cui va scritto:
              br
              | Percorso per il conseguimento della certificazione B2
              br
              | Terminologia tecnica
              br
              | Grammatica
              br
              | Conversazione
          .four.columns
            img.scale-with-grid(src='images/corsi/dirittocomunicazione.png', alt='')
            h4
              | Copyright e norme giuridiche
              span
                br
                | (16 ore)
            p.corso
              | Diritto d'autore
              br
              | E-commerce
          .four.columns
            img.scale-with-grid(src='images/corsi/postit.jpg', alt='')
            h4
              | Approfondimenti didattici
              span
                br
                | (27 ore)
            p.corso
              | Esercitazioni - Project work
              br
              | Incontro con il mondo del lavoro
        .row.rowbottom
          .four.columns
            img.scale-with-grid(src='images/corsi/sicurezzalavoro.png', alt='')
            h4
              | Sicurezza sul lavoro 
              span
                br
                | (8 ore)
            p.corso
              | Normativa di riferimento
              br
              | Indicazioni di base
          .four.columns
            img.scale-with-grid(src='images/corsi/equal.png', alt='')
            h4
              | Pari opportunità 
              span
                br
                | (8 ore)
            p.corso
              | Il talento non ha genere:
              br
              | Introduzione alle reti
              br
              | Conoscenza delle principali normative
              br
              | Sensibilizzazione alle pari opportunità
          .four.columns
            img.scale-with-grid(src='images/corsi/orient.jpg', alt='')
            h4
              | Orientamento
              span
                br
                | (36 ore)
            p.corso
              | Definizione e valutazione dei propri progetti: personale e professionale
              br
              | Il contesto di riferimento del percorso formativo
              br
              | Le caratteristiche personali
              br
              | Valorizzazione dei propri progetti: personale e professionale
          .four.columns
            img.scale-with-grid(src='images/corsi/frame.jpg', alt='')
            h4
              | .net Framework
              span
                br
                | (100 ore)
            p.corso
              | Panoramica sul .NET Framework e Visual Studio.NET
              | - Introduzione a C#
              br
              | Accesso ai dati tramite ADO.NET
              br
              | ASP.NET: MVC
              br
              | ASP.NET: Web Forms
              br
              | ASP.NET: Web Services
  #mobile2.slide
    img.scrollmobile(src='images/bg4_iphone.png')
    img.scrolltablet(src='images/bg4_ipad.png') 
    img.scrollweb(src='images/bg4.png') 
  //- #mobile3.slide
  //-   img.scrollmobile(src='images/bg5_iphone.png')
  //-   img.scrolltablet(src='images/bg5_ipad.png') 
  //-   img.scrollweb(src='images/bg5.png') 
  //- #mobile4.slide
  //-   img.scrollmobile(src='images/bg6_iphone.png')
  //-   img.scrolltablet(src='images/bg6_ipad.png') 
  //-   img.scrollweb(src='images/bg6.png') 
