#section6.section
  #contatti1.slide
    .white
    .intro
      .container
        .seven.columns.offset-by-one
          .box.green
            h2.title3 Passports to the world
            p.bodycopy
              | Our Senior Technician diplomas are recognized at national and European level, and allow you to compete immediately in the wider labour market. For further information please contact us on 800 985 384, write to us at 
              strong info[at]its-ictpiemonte[dot]it
              |  or visit the announcements page and book an interview.
            p#info
              strong Registered Office 
              br
              | 							Torino, Piazza Carlo Felice, 18
              br
              strong Operational Headquarters 
              br
              | 							Torino, Piazza 2, via Jacopo Durandi 10, Telephone +39 011 0371500
              br
              | 							Moncalieri, ITIS Pininfarina, via Ponchielli 16, Telephone +39 011 6058311 r.a.
              br
              strong VAT reference
              |  10600860018
              br
              strong Fiscal Code
              |  97734430016
              br
              strong REA Number
              |  TO – 1147027
              br
              strong Register
              |  PG Pref. di Torino nr. 731
              br
              strong PEC
              |  its-ictpiemonte@pec.it
        .seven.columns
          // Begin MailChimp Signup Form
          // Begin MailChimp Signup Form
          #mc_embed_signup
            form#mc-embedded-subscribe-form.validate(action='http://its-ictpiemonte.us8.list-manage1.com/subscribe/post?u=48fb6d964a3a7197c1f55e068&id=a959736b50', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
              h2.title3 Join our mailing list 
              .mc-field-group.bodycopy
                label(for='mce-EMAIL') Email Address 
                br
                input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
              .mc-field-group.bodycopy
                label(for='mce-FNAME') First Name 
                br
                input#mce-FNAME(type='text', value='', name='FNAME')
              .mc-field-group.bodycopy
                label(for='mce-LNAME') Last Name 
                br
                input#mce-LNAME(type='text', value='', name='LNAME')
              #mce-responses.clear
                #mce-error-response.response(style='display:none')
                #mce-success-response.response(style='display:none')
              // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style='position: absolute; left: -5000px;')
                input(type='text', name='b_48fb6d964a3a7197c1f55e068_a959736b50', tabindex='-1', value='')
              input#mc-embedded-subscribe.button(type='submit', value='ISCRIVITI', name='subscribe')
          // End mc_embed_signup
        // End mc_embed_signup
        .seven.columns
          ul#istlogo
            li#fondo.istit(style='display: inline; padding-right: 5px;')
              img(src='images/istit/logo-fondo.png', width='60px')
            li#regione.istit(style='display: inline; padding-right: 5px;')
              img(src='images/istit/logo-reg-piemonte.png')
            li#miur.istit(style='display: inline;')
              img(src='images/istit/logo2-miur.jpg', width='60px')
  #contatti2.slide
    #map
    .container.buoy
      .eleven.columns
        .box.green
          h3.title3 Come and visit us
          p.bodycopy
            | A moment from the tram stop, five minutes from the subway, a few steps from Porta Susa: the campus is easy and convenient to reach, whatever your starting point. From Milan, for example, it takes just under an hour by high-speed train to arrive at ITS.
