#section4.section
  #video1.slide(style="position: relative")
    .intro
      .white
      .container
        .row.small
          .ten.columns.offset-by-two
            .box
              h2.title3 Videomaking
              h4.bodycopy
                | Diploma of Higher Level Technician in the organization and use of information and knowledge.
              p.bodycopy
                | More screens, everywhere and always available = infinite programme schedules to fill = a huge demand for audiovisual content to satisfy. The two-year Videomaking course gives you the knowledge to allow you to tune in to these needs. 
                | At the end of the course you will know how to conceive, design and create a quality audiovisual product, create 2D and 3D graphics and animations, work in both the creative and technical worlds in any situation in which content is produced, distributed or consumed, and to move knowledgeably and effectively in the world of work and in business contexts. 
                | The course provides a common basis and two alternative and complementary specializations: 3D animation and video post-production.
                br
                | 					Your future is now loading...
  #video5.slide
      .intro
        .container
          .row.rowtop
            .four.columns
              img.scale-with-grid(data-src='images/corsi/matematica.png', alt='')
              h4
                | Mathematics for a technical environment 
                span
                  br
                  | (30 hours)
              p.corso
                | Linear algebra
                br
                | 							Real functions of real variables
                br
                | 							Plane geometry (Euclidean and analytical)
                br
                | 							Geometry in space (Euclidean and analytical)
                br
                | 							Elements of algebra
            .four.columns
              img.scale-with-grid(data-src='images/corsi/fisica.png', alt='')
              h4
                | Technical Physics 
                span
                  br
                  | (24 hours)
              p.corso
                | Communicating physics
                br
                | 							Experimental method, measurement
                br
                | 							Waves
            .four.columns
              img.scale-with-grid(data-src='images/corsi/informatica.png', alt='')
              h4
                | Computer Science 
                span
                  br
                  | (30 hours)
              p.corso
                | Personal computer hardware: technologies, assembly and maintenance
                br
                | 							The operating systems of the Windows family
                br
                | 							Technologies and management of mobile devices 
                br
                | 							Acknowledgement of other types of hardware and Operating Systems
                br
                | 							The personal computer as a network client: technologies and concepts of security
            .four.columns
              img.scale-with-grid(data-src='images/corsi/crossmedia.png', alt='')
              h4
                | Multimedia and cross-media Communication 
                span
                  br
                  | (40 hours)
              p.corso
                | Crossmediality
                br
                | 							Multimediality
          .row
            .four.columns
              img.scale-with-grid(data-src='images/corsi/controlloqualita.png', alt='')
              h4
                | Multimedia Product Quality Control 
                span
                  br
                  | (20 hours)
              p.corso
                | Interaction design
                br
                | 							Fiction design
                br
                | 							Usability
            .four.columns
              img.scale-with-grid(data-src='images/corsi/videografica.png', alt='')
              h4
                | Raster and vector graphics
                span
                  br
                  | (48 hours)
              p.corso
                | Illustrator
                br
                | 							Photoshop
            .four.columns
              img.scale-with-grid(data-src='images/corsi/storyboard.jpg', alt='')
              h4
                | Preproduction and cine-televisual planning  
                span
                  br
                  | (68 hours)
              p.corso
                | Writing and analysis of a subject
                br
                | 							Screenplay
                br
                | 							Storyboard
                br
                | 							Casting
            .four.columns
              img.scale-with-grid(data-src='images/corsi/ideazione.png', alt='')
              h4
                | Audiovisual creation and narration
                span
                  br
                  | (60 hours)
              p.corso
                | Cinematographic narration
                br
                | 	  						Documentary narration
                br
                | 	  						Journalistic narration
                br
                | 	  						Institutional narration
                br
                | 	  						Narration for boys
                br
                | 	  						Advertising narration
                br
                | 	  						Serial narration
          .row
            .four.columns
              img.scale-with-grid(data-src='images/corsi/workflow.png', alt='')
              h4
                | Cine-televisual workflow and planning 
                span
                  br
                  | (60 hours)
              p.corso
                | Workflows for productions (planning and management): the direction of the production
                br
                | 							Digital video
                br
                | 							Audiovisual work
                br
                | 							Specific aspects of sustainability
                br
                | 							Interactions in a workgroup
            .four.columns
              img.scale-with-grid(data-src='images/corsi/distribuzioneweb.png', alt='')
              h4
                | Web distribution and processes of innovation
                span
                  br
                  | (30 hours)
              p.corso
                | Social networks on the web: the origin of social networks
                br
                | 							Interactivity, simultaneity and multimediality: how the new media function
                br
                | 							Basic usage of the most common CMS Joomla, Wordpress
                br
                | 							Social media marketing: social networks as an engine of business
                br
                | 							Search engines: design, indexing and use
            .four.columns
              img.scale-with-grid(data-src='images/corsi/planningfinanziario.png', alt='')
              h4
                | Financial Planning of production
                span
                  br
                  | (30 hours)
              p.corso
                | Economic analysis of communication techniques
                br
                | 							What the public buys, where and why, and how to check the result
                br
                | 							Types of known business and potential new businesses
            .four.columns
              img.scale-with-grid(data-src='images/corsi/editingvideo.png', alt='')
              h4
                | Montage and Audiovisual Editing
                span
                  br
                  | (80 hours)
              p.corso
                | Types of montage
                br
                | 							Basics of montage
                br
                | 							Theory of sound and audio editing
                br
                | 							Preparation for final exam
          .row
            .four.columns
              img.scale-with-grid(data-src='images/corsi/after.jpg', alt='')
              h4
                | Videography  
                span
                  br
                  | (48 hours)
              p.corso
                | Titles
                br
                | 							Signature tunes
                br
                | 							Captions
            .four.columns
              img.scale-with-grid(data-src='images/corsi/3d.png', alt='')
              h4
                | 3D Computer Graphics
                span
                  br
                  | (50 hours)
              p.corso
                | Introduction to Base Material and Rendering
                br
                | 							Polygonal modelling
                br
                | 							NURBS modelling
                br
                | 							Introduction to Maya
            .four.columns
              img.scale-with-grid(data-src='images/corsi/inglese.png', alt='')
              h4
                | English 
                span
                  br
                  | (100 hours)
              p.corso
                | Pathway to achieving certification C1
                br
                | 							Grammar
                br
                | 							Technical terminology
                br
                | 							Conversation
            .four.columns
              img.scale-with-grid(data-src='images/corsi/sicurezzalavoro.png', alt='')
              h4
                | Health and Safety at Work  
                span
                  br
                  | (8 hours)
              p.corso
                | Reference legislation
                br
                | 							Basic guidelines
          .row.rowbottom
            .four.columns
              img.scale-with-grid(data-src='images/corsi/equal.png', alt='')
              h4
                | Equal opportunities 
                span
                  br
                  | (8 hours)
              p.corso
                | Knowledge of the principal regulations
                br
                | 							Awareness of equal opportunities
            .four.columns
              img.scale-with-grid(data-src='images/corsi/dirittocomunicazione.png', alt='')
              h4
                | Laws and ethics of communication
                span
                  br
                  | (20 hours)
              p.corso
                | The information society
            .four.columns
              img.scale-with-grid(data-src='images/corsi/laboratorio.png', alt='')
              h4
                | Final thesis preparation workshop 
                span
                  br
                  | (32 hours)
              p.corso
                | Thesis planning
            .four.columns
              img.scale-with-grid(data-src='images/corsi/laboratorio.png', alt='')
              h4
                | Compositing and Visual FX  
                span
                  br
                  | (190 hours)
              p.corso
                | History of special effects
                br
                | 							Shooting techniques for digital special effects
                br
                | 							Advanced after effects 
                br
                | 							Content analysis and choice of production techniques and workflow
                br
                | 							Motion graphics
                br
                | 							Introduction to other compositing software
          .row
            .four.columns
              img.scale-with-grid(data-src='images/corsi/animazione.png', alt='')
              h4
                | Animation 
                span
                  br
                  | (140 hours)
              p.corso
                | Animation techniques
                br
                | 							Layout
                br
                | 							Matte painting
            .four.columns
              img.scale-with-grid(data-src='images/corsi/3D-avanzato.png', alt='')
              h4
                | Advanced 3D  
                span
                  br
                  | (160 hours)
              p.corso
                | Maya: Modelling
                br
                | 							Maya: Animation
                br
                | 							Maya: Rendering
                br
                | 							Preparation for the final exam
            .four.columns
              img.scale-with-grid(data-src='images/corsi/ripresaprofessionale.png', alt='')
              h4
                | Shooting techniques
                span
                  br
                  | (70 hours)
              p.corso
                | The equipment
                br
                | 	  						Shooting audio
            .four.columns
              img.scale-with-grid(data-src='images/corsi/editingaudio.png', alt='')
              h4
                | Sound design
                span
                  br
                  | (50 hours)
              p.corso
                | Fundamentals of sound design
                br
                | 							Sound editing
                br
                | 							Audio
          .row.rowbottom
            .four.columns
              img.scale-with-grid(data-src='images/corsi/foto.jpg', alt='')
              h4
                | Photography for the cinema 
                span
                  br
                  | (50 hours)
              p.corso
                | Framing
                br
                | 							Lighting
                br
                | 							Colour Correction
            .four.columns
              img.scale-with-grid(data-src='images/corsi/editingavanzato.png', alt='')
              h4
                | Advanced Video Editing 
                span
                  br
                  | (60 hours)
              p.corso
                | Theory and techniques of advanced video editing
                br
                | 							In-depth sw video editing (premiere, avid, etc)
            .four.columns
              img.scale-with-grid(data-src='images/corsi/postit.jpg', alt='')
              h4
                | In-depth didactic analysis 
                span
                  br
                  | (48 hours)
              p.corso
                | Tutorials - Project work
                br
                | 	  						Meeting the world of work

  #video2.slide
    img.scrollmobile(data-src='images/bg4v_iphone_en.png')
    img.scrolltablet(data-src='images/bg4v_ipad_en.png')
    img.scrollweb(data-src='images/bg4v_en.png')
  #video3.slide
    img.scrollmobile(data-src='images/bg5v_iphone_en.png')
    img.scrolltablet(data-src='images/bg5v_ipad_en.png')
    img.scrollweb(data-src='images/bg5v_en.png')
  #video4.slide
    img.scrollmobile(data-src='images/bg6v_iphone_en.png')
    img.scrolltablet(data-src='images/bg6v_ipad_en.png')
    img.scrollweb(data-src='images/bg6v_en.png')
