#section3.section
  #coding1.slide
    .intro
      .container
        .row.small
          .ten.columns.offset-by-two
            h2.title3 Coding e Programmazione
            h4.bodycopy
              | Tecnico superiore per i metodi e le tecnologie per lo sviluppo di sistemi software
            p.bodycopy
              | Il corso ha una durata biennale e ha come scopo principale la formazione di progettisti per lo sviluppo di applicazioni mobile. Il percorso di studi è stato disegnato per trasferire tutte le competenze tecniche necessarie alla realizzazione di un prodotto finito. Il corso é incentrato principalmente sulla componente di sviluppo, ma assicura anche una solida preparazione su tutte le altre fasi di realizzazione di un prodotto in ambito mobile. Al termine del percorso di studi gli studenti avranno l’occasione di realizzare una propria app mobile utilizzando tutte le competenze apprese nelle lezioni del corso. L’obiettivo finale del corso è di rendere lo studente autonomo nella progettazione della soluzione concettuale, nella pianificazione del progetto, nel design della soluzione grafica e della soluzione tecnologica (iOS, Android, Web).
  #coding5.slide
    .intro
      .container
        .row.rowtop
          .four.columns
            img.scale-with-grid(src='images/corsi/postit.jpg', alt='')
            h4
              | Approfondimenti didattici
              span
                br
                | (24 ore)
            p.corso
              | Incontro con il mondo del lavoro
              br
              | 							Esercitazioni - Project work
              br
              | 							Aspetti generali di sostenibilità
              br
          .four.columns
            img.scale-with-grid(src='images/corsi/architettura.png', alt='')
            h4
              | Architetture software per mobile e web
              span
                br
                | (18 ore)
            p.corso
              | Architetture software
              br
              | 							Architettura web e mobile
          .four.columns
            img.scale-with-grid(src='images/corsi/dirittocomunicazione.png', alt='')
            h4
              | Copyright e norme giuridiche del mondo digitale
              span
                br
                | (20 ore)
            p.corso
              | Diritto d'autore
              br
              | 							E-commerce
          .four.columns
            img.scale-with-grid(src='images/corsi/database.png', alt='')
            h4
              | Fondamenti di basi di dati
              span
                br
                | (70 ore)
            p.corso
              | Fondamenti di basi di dati
              br
              | 							Linguaggi per database
              br
              | 							Conoscenza Modello relazionale e basi dati
              br
              | 							Linguaggi di programmazione per applicazioni dinamiche
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/algorhitm.png', alt='')
            h4
              | Fondamenti di programmazione
              span
                br
                | (75 ore)
            p.corso
              | Algoritmi
              br
              | 							Strutture dati
              br
              | 							Linguaggio di programmazione C/C++
          .four.columns
            img.scale-with-grid(src='images/corsi/inglese.png', alt='')
            h4
              | Inglese
              span
                br
                | (100 ore)
            p.corso
              | Grammatica
              br
              | 							Conversazione
              br
              | 							Terminologia tecnica in lingua inglese
              br
              | 							Percorso per il conseguimento della certificazione B2
              br
              | 							Terminologia tecnica in lingua inglese
          .four.columns
            img.scale-with-grid(src='images/corsi/interactiondesign.jpg', alt='')
            h4
              | Interaction design e progettazione concettuale
              span
                br
                | (55 ore)
            p.corso
              | L' interaction design e i suoi 5 principi cardine
              br
              | 							Benchmarking, moodboard e analisi critica delle interfacce
              br
              | 							Concept design
              br
              | 							Wireframe
              br
              | 							Scenari d'uso
              br
              | 							Architettura dell'informazione
          .four.columns
            img.scale-with-grid(src='images/corsi/prj.png', alt='')
            h4
              | Metodologie e strumenti di project management
              span
                br
                | (15 ore)
            p.corso
              | Progettazione
              br
              | 							Realizzazione
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/orient.jpg', alt='')
            h4
              | Orientamento 
              span
                br
                | (36 ore)
            p.corso
              | Le caratteristiche personali
              br
              | 							Il contesto di riferimento del percorso formativo
              br
              | 							Definizione e valutazione dei propri progetti: personale e professionale
              br
              | 							Valorizzazione dei propri progetti: personale e professionale
          .four.columns
            img.scale-with-grid(src='images/corsi/equal.png', alt='')
            h4
              | Pari opportunità
              span
                br
                | (8 ore)
            p.corso
              | Interculturalità e Pari Opportunità
          .four.columns
            img.scale-with-grid(src='images/corsi/java.png', alt='')
            h4
              | Programmazione in Java - I
              span
                br
                | (60 ore)
            p.corso
              | Progettazione ad oggetti in UML
              br
              | 							La programmazione orientata agli oggetti in JAVA
          .four.columns
            img.scale-with-grid(src='images/corsi/html.png', alt='')
            h4
              | Programmazione web - front-end di base
              span
                br
                | (55 ore)
            p.corso
              | Strutturazione della pagina web e fogli stile
              br
              | 							I linguaggi HTML/XHTML/HTML5 e CSS/CSS3
              br
              | 							Come rendere interattiva una paginaweb o un'applicazione webbased
              br
              | 							JavaScript e jQuery
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/reti2-01.png', alt='')
            h4
              | Reti di calcolatori
              span
                br
                | (23 ore)
            p.corso
              | Aspetti specifici di sostenibilità
              br
              | 							Protocolli di livello applicazione
              br
              | 							Tecnologie per reti informatiche
              br
              | 							Protocolli di indirizzamento e instradamento
          .four.columns
            img.scale-with-grid(src='images/corsi/sicurezzainfo.jpg', alt='')
            h4
              | Sicurezza informatica
              span
                br
                | (20 ore)
            p.corso
              | Aspetti specifici di sostenibilità
              br
              | 							Basi di sicurezza
              br
              | 							Sicurezza nella comunicazione web e mobile
          .four.columns
            img.scale-with-grid(src='images/corsi/graphic.png', alt='')
            h4
              | Visual design
              span
                br
                | (55 ore)
            p.corso
              | Indicazioni di base
              br
              | 							La comunicazione attraverso l'immagine
          .four.columns
            img.scale-with-grid(src='images/corsi/databasenosql.png', alt='')
            h4
              | Basi di dati non relazionali (NoSQL)
              span
                br
                | (25 ore)
            p.corso
              | Le basi di NoSQL
              br
              | 							MongoDB
              br
              | 							Altri sistemi NoSQL
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/mktg.png', alt='')
            h4
              | Digital marketing 
              span
                br
                | (30 ore)
            p.corso
              | Elementi di marketing operativo e comunicazione pubblicitaria
              br
              | 	  						Il marketing e la comunicazione per web e mobile
              br
              | 	  						Strumenti di digital marketing
          .four.columns
            img.scale-with-grid(src='images/corsi/start-up.png', alt='')
            h4
              | Laboratorio di start up
              span
                br
                | (30 ore)
            p.corso
              | I business model in ambito digitale e mobile
              br
              | 	  						Ideazione e definizione della start up
              br
              | 	  						Personal branding e public speaking
          .four.columns
            img.scale-with-grid(src='images/corsi/android.png', alt='')
            h4
              | Programmazione di applicazioni per Android
              span
                br
                | (130 ore)
            p.corso
              | Le basi dello sviluppo in Android
              br
              | 	  						Gestione dei dati all'interno di un'app
              br
              | 	  						Interazione fra le varie componenti dell'app
              br
              | 	  						Conoscenza Interazione con dati esterni: il webservice
              br
              | 	  						Pubblicazione app
              br
              | 	  						Preparazione all'esame finale
          .four.columns
            img.scale-with-grid(src='images/corsi/apple.png', alt='')
            h4
              | Programmazione di applicazioni per iOS
              span
                br
                | (100 ore)
            p.corso
              | Utilizzare linguaggi per la realizzazione di sistemi e applicazioni
              br
              | 	  						Elaborare interfacce multimediali e multicanale
              br
              | 	  						Pubblicazione app
              br
              | 	  						Elaborare interfacce multimediali e multicanale
              br
              | 	  						Preparazione all'esame finale
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/html.png', alt='')
            h4
              | Programmazione web - front-end avanzato
              span
                br
                | (85 ore)
            p.corso
              | Come rendere interattiva una paginaweb o un'applicazione webbased
              br
              | 	  						JavaScript e jQuery
          .four.columns
            img.scale-with-grid(src='images/corsi/sicurezzalavoro.png', alt='')
            h4
              | Sicurezza sul lavoro
              span
                br
                | (12 ore)
            p.corso
              | Fattori di rischio generali e specifici
              br
              | 	  					Misure e procedure di prevenzione e protezione
          .four.columns
            img.scale-with-grid(src='images/corsi/projectwork.jpg', alt='')
            h4
              | Laboratorio di preparazione project work
              span
                br
                | (25 ore)
            p.corso
              | Project work
          .four.columns
            img.scale-with-grid(src='images/corsi/labsviluppo.jpg', alt='')
            h4
              | Laboratorio di sviluppo
              span
                br
                | (60 ore)
            p.corso
              | Progettazione app
              br
              | 	  						Implementazione
        .row.rowbottom
          .four.columns
            img.scale-with-grid(src='images/corsi/nodejs.png', alt='')
            h4
              | Sviluppo back-end in Node.js
              span
                br
                | (55 ore)
            p.corso
              | Introduzione a Node.js
              br
              | 							Sviluppo su Node.js
              br
              | 							Preparazione all'esame finale
  #mobile2.slide
    img.scrollmobile(src='images/bg4_iphone.png')
  #mobile3.slide
    img.scrollmobile(src='images/bg5_iphone.png')
  #mobile4.slide
    img.scrollmobile(src='images/bg6_iphone.png')
