#section5.section
  #aziende1.slide
    .white
    .intro
      .container
        .row.rowtop.rowbottom
          .eight.columns.offset-by-seven
            .box.blue
              h3.title3
                | It's time to go back to school
              p.bodycopy
                | It is the very nature of the campus of ITS for ICT Piemonte - common ground between education and the world of work - which makes it the ideal place where companies can meet and prosper, recruit young talent, and help ideas and innovation to germinate.. 
                br
                | Browse these pages to find out all the possibilities for collaboration, and contact us on 
                strong +39 011 0371500 
                |  or at 
                strong info@its-ictpiemonte.it
                |  to discuss your requirements.
  #aziende2.slide
  
    .intro
      .container
        .row
          .eight.columns.offset-by-seven
            .box.blue
              h3.title3
                | Plug-and-play talents
              p.bodycopy
                | Competence, enthusiasm, courage and an irrepressible desire to do: if you are looking for thinking minds and new energies to integrate into your company, the young people of the ITS campus for ICT Piemonte are the solution. On our courses you will find interaction designers, coders, graphic designers, experts in the “internet of things”, directors, editors, 2D and 3D animators, sound technicians, and much more. We find the right formula together: you can host students in work experience for more than three months, and, naturally, look for people to employ under contract.
  #aziende3.slide
    .intro
      .container
        .row
          .eight.columns.offset-by-seven
            .box.blue
              h3.title3
                | When we say ‘invest in training’
              p.bodycopy
                | Sharing knowledge and experience in a training project for young professionals is a real opportunity for a company to test and reprogram its vision and capabilities, create authority and increase its visibility to institutions and stakeholders, to network and meet new potential partners. The campus is open to different ways of working together, from the inclusion of teachers in didactic modules to the creation of talks and themed workshops.
  #aziende4.slide
    .intro
      .container
        .row
          .eight.columns.offset-by-seven
            .box.blue
              h3.title3
                | We design together
              p.bodycopy
                | Our watchword: co-creation. You can mobilize the creative energy of the participants in the courses on campus by offering briefs designed for the needs of your company. The project is evaluated and then inserted into the educational cycle and the students, led by a close team of teachers and involving the partners in the process, will work to find the most innovative ideas and the most effective solutions. The duration of projects can range from the very short term, such as 15 days, up to three months or more.
  #aziende5.slide
    .intro
      .container.mobilemargin
        .row
          .three.columns
            a(href='http://www.adobe.com')
              img.scale-with-grid(src='images/logo/adobe.jpg', alt='')
          .three.columns
            a(href='http://www.cisco.com')
              img.scale-with-grid(src='images/logo/cisco.jpg', alt='')
          .three.columns
            a(href='http://www.snc.it')
              img.scale-with-grid(src='images/logo/csc.jpg', alt='')
          .three.columns
            a(href='http://www.enarmoniapictures.com')
              img.scale-with-grid(src='images/logo/enarmonia.jpg', alt='')
          .three.columns
            a(href='http://www.enhancers.it')
              img.scale-with-grid(src='images/logo/enhancers.jpg', alt='')
        .row
          .three.columns
            a(href='http://www.fctp.it')
              img.scale-with-grid(src='images/logo/fctp.jpg', alt='')
          .three.columns
            a(href='http://www.salonelibro.it')
              img.scale-with-grid(src='images/logo/libro.jpg', alt='')
          .three.columns
            a(href='http://www.immaginazioneelavoro.it')
              img.scale-with-grid(src='images/logo/logo-01.jpg', alt='')
          .three.columns
            a(href='http://www.piazzadeimestieri.it')
              img.scale-with-grid(src='images/logo/logo-02.jpg', alt='')
          .three.columns
            a(href='http://www.provincia.torino.it')
              img.scale-with-grid(src='images/logo/logo-03.jpg', alt='')
        .row
          .three.columns
            a(href='http://www.itispininfarina.it')
              img.scale-with-grid(src='images/logo/logo-05.jpg', alt='')
          .three.columns
            a(href='http://www.fondazionescuola.it')
              img.scale-with-grid(src='images/logo/logo-06.jpg', alt='')
          .three.columns
            a(href='http://www.polito.it')
              img.scale-with-grid(src='images/logo/poli-01.jpg', alt='')
          .three.columns
            a(href='http://www.telecom.it')
              img.scale-with-grid(src='images/logo/telecom.jpg', alt='')
          .three.columns
            a(href='http://www.torinofilmfest.org')
              img.scale-with-grid(src='images/logo/torinofilmfestival.jpg', alt='')
        .row
          .three.columns
            a(href='http://www.torinowireless.it')
              img.scale-with-grid(src='images/logo/tw_logo.jpg', alt='')
          .three.columns
            a(href='http://www.viewconference.it')
              img.scale-with-grid(src='images/logo/viewlogo_low(old).jpg', alt='')
