#section4.section
  #video1.slide(style="position: relative")
    .intro
      .white
      .container
        .row.small
          .ten.columns.offset-by-two
            .box
              h2.title3 Integrated Backend Services
              h4.bodycopy
                | Diploma of Higher Level Technician in software development technologies
              p.bodycopy
                | lhoursm
                br
                | 					Your future is now loading...
  #video5.slide
    .intro
      .container
        .row.rowtop
          .four.columns
            img.scale-with-grid(data-src='images/corsi/webarch.jpg', alt='')
            h4
              | Mobile and web software architecture
              span
                br
                | (18 hours)
            p.corso
              | Algebra basics
              br
              | 							Software Architecture
              br
              | 							Web and mobile architecture

          .four.columns
            img.scale-with-grid(data-src='images/corsi/reti2-01.png', alt='')
            h4
              | Computer networks
              span
                br
                | (15 hours)
            p.corso
              | ISO/OSI and TCP/IP protocol
              br
              | 							Sustainability aspects
              br
              | 							Application-level protocols
              br
              | 							IT networks technologies
              br
              | 							Addressing and routing protocols
              br
          .four.columns
            img.scale-with-grid(data-src='images/corsi/security.jpeg', alt='')
            h4
              | IT security
              span
                br
                | (20 hours)
            p.corso
              | Sustainability aspects
              br
              | Secirity basics
              br
              | Web and mobile communication security
          .four.columns
            img.scale-with-grid(data-src='images/corsi/dirittocomunicazione.png', alt='')
            h4
              | Copyright and law
              span
                br
                | (20 hours)
            p.corso
              | CC and rights
              br
              | E-commerce
        .row
          .four.columns
            img.scale-with-grid(data-src='images/corsi/inglese.png', alt='')
            h4
              | English 
              span
                br
                | (70 hours)
            p.corso
              | To plan the future you have to know the code in which it is written:
              br
              | Path to the achievement of C1 certification
              br
              | Technical terminology
              br
              | Grammar
              br
              | Conversation
          
          .four.columns
            img.scale-with-grid(data-src='images/corsi/equal.png', alt='')
            h4
              | Equal opportunities
              span
                br
                | (8 hours)
            p.corso
              | Talent has no gender:
              br
              | Introduction to networks
              br
              | Knowledge of the principal regulations
              br
              | Awareness of equal opportunities
          .four.columns
            img.scale-with-grid(data-src='images/corsi/sicurezzalavoro.png', alt='')
            h4
              | Health & Safety at Work
              span
                br
                | (8 hours)
            p.corso
              | Reference legislation
              br
              | Basic guidelines
        
          .four.columns
            img.scale-with-grid(data-src='images/corsi/graphic.png', alt='')
            h4
              | Interaction design and visual design 
              span
                br
                | (48 hours)
            p.corso
              | What is user experience
              br
              | Findings, insights and challenges projects
              br
              | Opportunity map and rquirements list
              br
              | Brainstorming
              br
              | Use cases
              br
              | Visual designer role and typography 
        .row
          .four.columns
            img.scale-with-grid(data-src='images/corsi/database.png', alt='')
            h4
              | Databases  (1, 2 - SQL, 3 - NoSQL )
              span
                br
                | (143 hours)
            p.corso
              | DB languages
              br
              | Relational model
              br
              | Microsoft SQL Server
              br
              | MongoDB and others NoSQL
              
          .four.columns
            img.scale-with-grid(data-src='images/corsi/fondamenticode.jpg', alt='')
            h4
              | Programming basics
              span
                br
                | (75 hours)
            p.corso
              | Algorithms
              br
              | Data structure
              br
              | C language
          .four.columns
            img.scale-with-grid(data-src='images/corsi/cnet.jpg', alt='')
            h4
              | .NET Framework / C#
              span
                br
                | (140 hours)
            p.corso
              | P.NET Framework and Visual Studio.NET
              br
              | C# introduction
              br
              | Windows Forms applications and WPF
              br
              | ASP.NET: Web Services (ASMX, WebAPI e WCF)
        
          .four.columns
            img.scale-with-grid(data-src='images/corsi/php.jpg', alt='')
            h4
              | PHP programming 
              span
                br
                | (110 hours)
            p.corso
              | Constructs
              br
              | State, session, cookies management
              br
              | XML, regex, images management
        .row
          .four.columns
            img.scale-with-grid(data-src='images/corsi/cloud.png', alt='')
            h4
              | Cloud services 
              span
                br
                | (90 hours)
            p.corso
              | Cloud provider introduction
              br
              | AWS and Azure

          .four.columns
            img.scale-with-grid(data-src='images/corsi/workshop.png', alt='')
            h4
              | Workshop
              span
                br
                | (40 hours)
            p.corso
              | App design
              br
              | Development
          .four.columns
            img.scale-with-grid(data-src='images/corsi/mobile.jpg', alt='')
            h4
              | Mobile application programming (Android/IOS) 
              span
                br
                | (50 hours)
            p.corso
              | Mobile programming basics
              br
              | In-app data management
              br
              | App interactions
              br
              | Webservice
        
          .four.columns
            img.scale-with-grid(data-src='images/corsi/java.png', alt='')
            h4
              | Java
              span
                br
                | (60 hours)
            p.corso
              | Object-oriented programming
              br
              | Data management with Java
        .row.rowbottom
          .four.columns
            img.scale-with-grid(data-src='images/corsi/html.png', alt='')
            h4
              | Front end programming
              span
                br
                | (70 hours)
            p.corso
              | Web publishing basics
              br
              | HTML/XHTML/HTML5 and CSS/CSS3
              br
              | JavaScript and jQuery
              br
              | Web services and data binding interactions
          .four.columns
            img.scale-with-grid(data-src='images/corsi/nodejs.png', alt='')
            h4
              | Backend development with Node.js
              span
                br
                | (55 hours)
            p.corso
              | Node.js basics
              br
              | Node.js development

          .four.columns
            img.scale-with-grid(data-src='images/corsi/ecommerce.jpg', alt='')
            h4
              | E-Commerce - Magento
              span
                br
                | (75 hours)
            p.corso
              | Ecommerce platform creation and management 
        
          .four.columns
            img.scale-with-grid(data-src='images/corsi/informatica.png', alt='')
            h4
              | Project management
              span
                br
                | (50 hours)
            p.corso
              | Design phases
              br
              | Development phases
          
  //- #video2.slide
  //-   img.scrollmobile(data-src='images/bg4v_iphone_en.png')
  //-   img.scrolltablet(data-src='images/bg4v_ipad_en.png')
  //-   img.scrollweb(data-src='images/bg4v_en.png')
  //- #video3.slide
  //-   img.scrollmobile(data-src='images/bg5v_iphone_en.png')
  //-   img.scrolltablet(data-src='images/bg5v_ipad_en.png')
  //-   img.scrollweb(data-src='images/bg5v_en.png')
  //- #video4.slide
  //-   img.scrollmobile(data-src='images/bg6v_iphone_en.png')
  //-   img.scrolltablet(data-src='images/bg6v_ipad_en.png')
  //-   img.scrollweb(data-src='images/bg6v_en.png')
