#section2.section
  #mobile1.slide(style="position: relative")
    .intro
      .white
      .container
        .row.small
          .ten.columns.offset-by-two
            .box
              h2.title3 Interaction & visual Design
              h4.bodycopy
                | Senior Technician in methods and technologies for the design of software systems.
              p.bodycopy
                | The two-year course runs through the entire creative cycle and project related to interaction and visual design from concept to design, implement, business model. It creates complete designers, able to dialogue with the different areas of the process (project managers) by facing the issues related to interaction design, user experience design, and visual design applied to different areas. In fact, while favoring the ICT field, time will be spent on all those products that underlie the interaction between man and machine, from automotive to home automation to industrial production.
  #mobile5.slide
    .intro
      .container
        .row.rowtop
          .four.columns
            img.scale-with-grid(src='images/corsi/fonts.png', alt='')
            h4
              | Typography and grids 
              span
                br
                | (80 hours)
            p.corso
              | The alphabet and grammar of the eye:
              br
              | Anatomy of typefaces
              br
              | Font management
              br
              | Fundamentals of typography
              br
              | Elements of pagination
          .four.columns
            img.scale-with-grid(src='images/corsi/graphic.png', alt='')
            h4
              | Visual design 
              span
                br
                | (100 hours)
            p.corso
              | If it is beautiful, it works better:
              br
              | Basic guidelines
              br
              | Communication through the image
          .four.columns
            img.scale-with-grid(src='images/corsi/qualres.png', alt='')
            h4
              | Qualitative Research
              span
                br
                | (50 hours)
            p.corso
              | Learn from the users to design successfully:
              br
              | Introduction to user-centred design
              br
              | Research techniques and methods
          .four.columns
            img.scale-with-grid(src='images/corsi/workshop.png', alt='')
            h4
              | Workshops 
              span
                br
                | (55 hours)
            p.corso
              | Creation workshop - Create a multimedia product
              br
              | Design Workshop - Designing a software product as a team
              br
              | Development Workshop – Thesis planning
        .row
          //- .four.columns
          //-   img.scale-with-grid(src='images/corsi/arduino.png', alt='')
          //-   h4
          //-     | Arduino physical computing  
          //-     span
          //-       br
          //-       | (40 hours)
          //-   p.corso
          //-     | Internet of things, internet of people. The more hardware becomes invisible, the following become more important:
          //-     br
          //-     | Integrated circuits and prototyping
          //-     br
          //-     | Sensors and controllers
          //-     br
          //-     | Arduino
          //-     br
          //-     | Raspberry Pi
          //- .four.columns
          //-   img.scale-with-grid(src='images/corsi/algorhitm.png', alt='')
          //-   h4
          //-     | Algorithms and data structures
          //-     span
          //-       br
          //-       | (75 hours)
          //-   p.corso
          //-     | Even the code has a skeleton:
          //-     br
          //-     | Definition of the algorithm
          //-     br
          //-     | Introduction to data structures
          //-     br
          //-     | Functional programming
          .four.columns
            img.scale-with-grid(src='images/corsi/3dprint.png', alt='')
            h4
              | 3D Design & printing
              span
                br
                | (50 hours)
            p.corso
              | 3D printing
              br
              | Lasercut
              br
              | Sutainability aspects
          .four.columns
            img.scale-with-grid(src='images/corsi/prj.png', alt='')
            h4
              | Team working and Project management 
              span
                br
                | (36 hours)
            p.corso
              | Design
              br
              | Creation
          .four.columns
            img.scale-with-grid(src='images/corsi/java.png', alt='')
            h4
              | Object-oriented Java Programming
              span
                br
                | (58 hours)
            p.corso
              | The basics of object-oriented programming
              br
              | JAVA language elements
          .four.columns
            img.scale-with-grid(src='images/corsi/UIdesign.png', alt='')
            h4
              | User interface design 
              span
                br
                | (65 hours)
            p.corso
              | The architecture of the interaction. Because users need beautiful, solid and functional structures:
              br
              | Interaction design and its five key principles
              br
              | Benchmarking, mood boards and critical analysis of interfaces
              br
              | Concept design
              br
              | Information Architecture
              br
              | Wireframe
              br
              | Usage Scenarios
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/usabilita.png', alt='')
            h4
              | App Usability
              span
                br
                | (30 hours)
            p.corso
              | Usability principles
              br
              | Heuristics
          .four.columns
            img.scale-with-grid(src='images/corsi/html.png', alt='')
            h4
              | Web standards
              span
                br
                | (70 hours)
            p.corso
              | Seamless. A digital experience which is reactive, fluid, always available:
              br
              | Structuring of the web page and style sheets
              br
              | The languages HTML / XHTML / HTML5 and CSS
              br
              | How to make an interactive web page or a web-based application
              br
              | JavaScript and jQuery
          .four.columns
            img.scale-with-grid(src='images/corsi/database.png', alt='')
            h4
              | DataBase
              span
                br
                | (85 hours)
            p.corso
              | Management of data and their relationships:
              br
              | Fundamentals of databases
              br
              | Relational model and databases
              br
              | Programming languages for dynamic applications (SQL and PHP)
              

          .four.columns
            img.scale-with-grid(src='images/corsi/android.png', alt='')
            h4
              | Android 
              span
                br
                | (80 hours)
            p.corso
              | The Google operating system in all its nuances and possibilities:
              br
              | The basics of development in Android
              br
              | Interaction between the various components of the app
              br
              | Data management within an app
              br
              | Interaction with external data: the webservice
          //- .four.columns
          //-   img.scale-with-grid(src='images/corsi/apple.png', alt='')
          //-   h4
          //-     | iOS Programming
          //-     span
          //-       br
          //-       | (40 hours)
          //-   p.corso
          //-     | Logical Mastering and programming languages of the Apple platform:
          //-     br
          //-     | Developing multimedia and multichannel interfaces
          //-     br
          //-     | Using languages for the creation of systems and applications
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/iot.png', alt='')
            h4
              | Internet of things
              span
                br
                | (80 hours)
            p.corso
              | Connecting the real world to the virtual world in order to improve it:
              br
              | Definition and Related Applications
              br
              | Interaction between web and physical reality
              br
              | RFID, barcode, QR code and NFC
              br
          .four.columns
            img.scale-with-grid(src='images/corsi/mktg.png', alt='')
            h4
              | Digital marketing 
              span
                br
                | (60 hours)
            p.corso
              | If markets are conversations, the mobileverse is the largest market that ever existed:
              br
              | Fundamentals of marketing and communications
              br
              | Digital and mobile marketing
              br
              | Personal branding and public speaking
        
          //- .four.columns
          //-   img.scale-with-grid(src='images/corsi/reti2-01.png', alt='')
          //-   h4
          //-     | Computer networks
          //-     span
          //-       br
          //-       | (30 hours)
          //-   p.corso
          //-     | Protocols of addressing and routing
          //-     br
          //-     | The levels of access to the network
          //-     br
          //-     | Examples of network planning
          //-     br
          //-     | Specific aspects of sustainability
          
          .four.columns
            img.scale-with-grid(src='images/corsi/inglese.png', alt='')
            h4
              | English 
              span
                br
                | (70 hours)
            p.corso
              | To plan the future you have to know the code in which it is written:
              br
              | Path to the achievement of C1 certification
              br
              | Technical terminology
              br
              | Grammar
              br
              | Conversation
          .four.columns
            img.scale-with-grid(src='images/corsi/dirittocomunicazione.png', alt='')
            h4
              | Copyright and law
              span
                br
                | (20 hours)
            p.corso
              | Diritto d'authors
              br
              | E-commerce
        
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/hmi.jpg', alt='')
            h4
              | Transport HMI Design
              span
                br
                | (60 hours)
            p.corso
              | Needs analysis
              br
              | Architecture design
              br
              | User Interface Design
              br
              | Prototyping
              br
              | Testing

          .four.columns
            img.scale-with-grid(src='images/corsi/hmi2.gif', alt='')
            h4
              | After effects for UI and motion graphic
              span
                br
                | (50 hours)
            p.corso
              | Animation techinques
              br
              | Assets management
          .four.columns
            img.scale-with-grid(src='images/corsi/ui.jpg', alt='')
            h4
              | User interface
              span
                br
                | (35 hours)
            p.corso
              | Agile project management
              br
              | InVision and other design tools
        
          .four.columns
            img.scale-with-grid(src='images/corsi/growth.jpg', alt='')
            h4
              | Growth hacking
              span
                br
                | (40 hours)
            p.corso
              | Funnel creation 
              br
              | Test planning
              br
              | Monitoring and data analysis
        
        .row.rowbottom
          .four.columns
            img.scale-with-grid(src='images/corsi/hmi1.jpg', alt='')
            h4
              | HMI (Human Machine Interface)
              span
                br
                | (30 hours)
            p.corso
              | Cognitive aspects linked to experience and interaction
              br
              | User eXperience for HMI
              br
              | Usability testing and heuristic dashboard analysis
          
              
        
          .four.columns
            img.scale-with-grid(src='images/corsi/postit.jpg', alt='')
            h4
              | In-depth didactic analysis
              span
                br
                | (27 hours)
            p.corso
              | Tutorials - Project work
              br
              | Meeting the world of work
        
          .four.columns
            img.scale-with-grid(src='images/corsi/sicurezzalavoro.png', alt='')
            h4
              | Health & Safety at Work
              span
                br
                | (8 hours)
            p.corso
              | Reference legislation
              br
              | Basic guidelines
          .four.columns
            img.scale-with-grid(src='images/corsi/equal.png', alt='')
            h4
              | Equal opportunities
              span
                br
                | (8 hours)
            p.corso
              | Talent has no gender:
              br
              | Introduction to networks
              br
              | Knowledge of the principal regulations
              br
              | Awareness of equal opportunities
          //- .four.columns
          //-   img.scale-with-grid(src='images/corsi/orient.jpg', alt='')
          //-   h4
          //-     | Orientamento
          //-     span
          //-       br
          //-       | (36 hours)
          //-   p.corso
          //-     | Definizione e valutazione dei propri progetti: personale e professionale
          //-     br
          //-     | Il contesto di riferimento del percorso formativo
          //-     br
          //-     | Le caratteristiche personali
          //-     br
          //-     | Valorizzazione dei propri progetti: personale e professionale
          //- .four.columns
          //-   img.scale-with-grid(src='images/corsi/frame.jpg', alt='')
          //-   h4
          //-     | .net Framework
          //-     span
          //-       br
          //-       | (100 hours)
          //-   p.corso
          //-     | Panoramica sul .NET Framework e Visual Studio.NET
          //-     | - Introduzione a C#
          //-     br
          //-     | Accesso ai dati tramite ADO.NET
          //-     br
          //-     | ASP.NET: MVC
          //-     br
          //-     | ASP.NET: Web Forms
          //-     br
          //-     | ASP.NET: Web Services
  #mobile2.slide
    img.scrollmobile(src='images/bg4_iphone_en.png')
    img.scrolltablet(src='images/bg4_ipad_en.png') 
    img.scrollweb(src='images/bg4_en.png') 
  #mobile3.slide
    img.scrollmobile(src='images/bg5_iphone_en.png')
    img.scrolltablet(src='images/bg5_ipad_en.png') 
    img.scrollweb(src='images/bg5_en.png') 
  #mobile4.slide
    img.scrollmobile(src='images/bg6_iphone_en.png')
    img.scrolltablet(src='images/bg6_ipad_en.png') 
    img.scrollweb(src='images/bg6_en.png') 
