#section3.section
  #coding1.slide(style="position: relative")
    .intro
      .white
      .container
        .row.small
          .ten.columns.offset-by-two
            .box
              h2.title3 Web & Mobile app development
              h4.bodycopy
                | Diploma of Higher Level Technician in software development technologies
              p.bodycopy
                | The two-year course of studies Web &amp; Mobile App Development has set itself the &#39; objective of training highly skilled designers in the creation of the mobile-app and web-app . The training program and &#39; It was conceived with the aim of transmitting the technical skills needed to build a complete product , focusing on the component front-end development and all phases related to the implementation of a product in mobile and web environment.
  #coding5.slide
    .intro
      .container
        .row.rowtop
          .four.columns
            img.scale-with-grid(src='images/corsi/postit.jpg', alt='')
            h4
              | Educational insights
              span
                br
                | (24 hours)
            p.corso
              | Project work
              br
              | Sustainability aspects
              br
          .four.columns
            img.scale-with-grid(src='images/corsi/architettura.png', alt='')
            h4
              | Mobile and web architecture
              span
                br
                | (22 hours)
            p.corso
              | Software Architecture
              br
              | Web and Mobile Architecture
          .four.columns
            img.scale-with-grid(src='images/corsi/dirittocomunicazione.png', alt='')
            h4
              | Copyright and laws
              span
                br
                | (20 hours)
            p.corso
              | CC
              br
              | E-commerce
          .four.columns
            img.scale-with-grid(src='images/corsi/database.png', alt='')
            h4
              | Dabatabase basics
              span
                br
                | (70 hours)
            p.corso
              | DB languages
              br
              | Relational model 
              br
              | Dynamic apps languages
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/algorhitm.png', alt='')
            h4
              | Programming basics
              span
                br
                | (75 hours)
            p.corso
              | Algorithms
              br
              | Data structure
              br
              | C/C++ language
          .four.columns
            img.scale-with-grid(src='images/corsi/inglese.png', alt='')
            h4
              | English 
              span
                br
                | (70 hours)
            p.corso
              | To plan the future you have to know the code in which it is written:
              br
              | Path to the achievement of C1 certification
              br
              | Technical terminology
              br
              | Grammar
              br
              | Conversation
          .four.columns
            img.scale-with-grid(src='images/corsi/interactiondesign.jpg', alt='')
            h4
              | Interaction design 
              span
                br
                | (55 hours)
            p.corso
              | Benchmarking, moodboard and UI
              br
              | Concept design
              br
              | Wireframe
              br
              | Information Architecture
          .four.columns
            img.scale-with-grid(src='images/corsi/prj.png', alt='')
            h4
              | Project management
              span
                br
                | (15 hours)
            p.corso
              | Design
              br
              | Development
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/orient.jpg', alt='')
            h4
              | Orientation 
              span
                br
                | (36 hours)
            p.corso
              | The context of the training program
              br
              | Definition and evaluation of own projects: personal and professional
              
          .four.columns
            img.scale-with-grid(src='images/corsi/equal.png', alt='')
            h4
              | Equal opportunities
              span
                br
                | (8 hours)
            p.corso
              | Talent has no gender:
              br
              | Introduction to networks
              br
              | Knowledge of the principal regulations
              br
              | Awareness of equal opportunities
          .four.columns
            img.scale-with-grid(src='images/corsi/java.png', alt='')
            h4
              | Java
              span
                br
                | (60 hours)
            p.corso
              | Object-oriented design in UML
              br
              | Object-oriented programming in JAVA
          .four.columns
            img.scale-with-grid(src='images/corsi/html.png', alt='')
            h4
              | Front-end basics
              span
                br
                | (74 hours)
            p.corso
              | Webpage structure 
              br
              | HTML/XHTML/HTML5 and CSS/CSS3
              br
              | JavaScript and jQuery
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/reti2-01.png', alt='')
            h4
              | Computer networks
              span
                br
                | (22 hours)
            p.corso
              | Protocols of addressing and routing
              br
              | The levels of access to the network
              br
              | Examples of network planning
              br
              | Specific aspects of sustainability
          .four.columns
            img.scale-with-grid(src='images/corsi/sicurezzainfo.jpg', alt='')
            h4
              | IT security
              span
                br
                | (20 hours)
            p.corso
              | Sustainability aspects
              br
              | Security basics
              br
              | Web and mobile communication security
          .four.columns
            img.scale-with-grid(src='images/corsi/graphic.png', alt='')
            h4
              | Visual design
              span
                br
                | (55 hours)
            p.corso
              | Basics
              br
              | Communication through images
          .four.columns
            img.scale-with-grid(src='images/corsi/databasenosql.png', alt='')
            h4
              | NoSQL
              span
                br
                | (25 hours)
            p.corso
              | NoSQL basics
              br
              | MongoDB
              br
              | Other NoSQL systems
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/mktg.png', alt='')
            h4
              | Digital marketing 
              span
                br
                | (30 hours)
            p.corso
              | Operative marketing and adv
              br
              | Web and mobile communication
              br
              | Digital marketing tools
          .four.columns
            img.scale-with-grid(src='images/corsi/start-up.png', alt='')
            h4
              | Start up lab
              span
                br
                | (30 hours)
            p.corso
              | The business model in digital reality
              br
              | Startup definition and structure
              br
              | Personal branding and public speaking
          .four.columns
            img.scale-with-grid(src='images/corsi/android.png', alt='')
            h4
              | Android
              span
                br
                | (120 hours)
            p.corso
              | The Google operating system in all its nuances and possibilities:
              br
              | The basics of development in Android
              br
              | Interaction between the various components of the app
              br
              | Data management within an app
              br
              | Interaction with external data: the webservice
          .four.columns
            img.scale-with-grid(src='images/corsi/apple.png', alt='')
            h4
              | iOS
              span
                br
                | (120 hours)
            p.corso
              | Logical Mastering and programming languages of the Apple platform:
              br
              | Developing multimedia and multichannel interfaces
              br
              | Using languages for the creation of systems and applications
        .row
          .four.columns
            img.scale-with-grid(src='images/corsi/html.png', alt='')
            h4
              | Front-end in-depth
              span
                br
                | (125 hours)
            p.corso
              | Web-based interactive platforms
              br
              | JavaScript, jQuery and NodeJs
          .four.columns
            img.scale-with-grid(src='images/corsi/sicurezzalavoro.png', alt='')
            h4
              | Health & Safety at Work
              span
                br
                | (12 hours)
            p.corso
              | Reference legislation
              br
              | Basic guidelines
          .four.columns
            img.scale-with-grid(src='images/corsi/projectwork.jpg', alt='')
            h4
              | Finals lab
              span
                br
                | (10 hours)
            p.corso
              | Project work
          .four.columns
            img.scale-with-grid(src='images/corsi/labsviluppo.jpg', alt='')
            h4
              | Developers lab
              span
                br
                | (60 hours)
            p.corso
              | App design
              br
              | Implementation 
        .row.rowbottom
          .four.columns
            img.scale-with-grid(src='images/corsi/angular.jpg', alt='')
            h4
              | Frameworks - Angular
              span
                br
                | (30 hours)
            p.corso
              | Angular basics and MEAN stack
              br
              | Angular developing
          .four.columns
            img.scale-with-grid(src='images/corsi/mobilegame.jpg', alt='')
            h4
              | Mobile gaming
              span
                br
                | (28 hours)
            p.corso
              | Mobile gaming basics
              br
              | Mobile gaming in-depth solutions
          .four.columns
            img.scale-with-grid(src='images/corsi/serverside.jpg', alt='')
            h4
              | Server side programming
              span
                br
                | (60 hours)
            p.corso
              | PHP basics
              br
              | PHP developing
          
          //- .four.columns
          //-   img.scale-with-grid(src='images/corsi/nodejs.png', alt='')
          //-   h4
          //-     | Sviluppo back-end in Node.js
          //-     span
          //-       br
          //-       | (55 hours)
          //-   p.corso
          //-     | Introduzione a Node.js
          //-     br
          //-     | Sviluppo su Node.js
          //-     br
          //-     | Preparazione all'esame finale
  #mobile2.slide
    img.scrollmobile(src='images/bg4m_iphone_en.png')
    img.scrolltablet(src='images/bg4m_ipad_en.png') 
    img.scrollweb(src='images/bg4m_en.png') 
  #mobile3.slide
    img.scrollmobile(src='images/bg5m_iphone_en.png')
    img.scrolltablet(src='images/bg5m_ipad_en.png') 
    img.scrollweb(src='images/bg5m_en.png') 
  #mobile4.slide
    img.scrollmobile(src='images/bg6m_iphone_en.png')
    img.scrolltablet(src='images/bg6m_ipad_en.png') 
    img.scrollweb(src='images/bg6m_en.png') 
