extends ./layouts/_html5bp

block main
  #sectionbandi.section
    a.its_logo(href='index.html')
      img#logo(src='images/istit/logo-its.png')
    .container
      .article.article_bandi
        h2.pageTitleBandi Bandi
        .six.columns.bandiAperti
          h3.bandiaperti Bandi Aperti
          dl#aperti.accordion
        .six.columns.bandiChiusi
          h3.bandichiusi Bandi Chiusi
          dl#chiusi.accordion
        .clear
    // /container
  script(src='js/modernizr.custom.js')
  script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  // <script type='text/javascript' src='../js/jquery.cookie.js'></script>
  script(src='//www.parsecdn.com/js/parse-1.5.0.min.js')
  script(type='text/javascript', src='js/handlebars-v3.0.3.js')
  script(type='text/javascript', src='js/tenders.js')
  script#tender-template(type='text/x-handlebars-template').
    {{#each tender}}
    <dt><a href="">{{attributes.title}}</a></dt>
    <dd>{{{attributes.body}}}
    {{#each pdfs}}
    <a href="{{attributes.url}}" class="link_bandi" target="_blank"><span class="icon_pdf">{{attributes.title}}</span></a>
    {{/each}}
    </dd>
    {{/each}}
