

input {
	width: 80%;
	height: 30px;
	background-color: white;
	padding: 1px 0;
	margin: 0;
	margin-bottom: 8px;
	border: none;
	color: black;
	font-size: 17px;
	line-height: 30px;
	font-family: 'Raleway',sans-serif, helvetica;
	font-weight: 500;
	-webkit-appearance: none;
}


input[type="submit"]{
margin-top: 15px;
color: white;
background-color: rgb(39, 174, 96);;
font-family: 'Raleway',sans-serif, helvetica;
font-weight: 500;
font-size: 17px;
line-height: 30px;
-webkit-appearance: none;
}

input[type="submit"]:focus {
margin-top: 15px;
color: white;
background-color: hsl(144, 63%, 24%));
font-family: 'Raleway',sans-serif, helvetica;
font-weight: 500;
font-size: 17px;
line-height: 30px;
-webkit-appearance: none;
}

input:focus{
	width:80%;
	height: 30px;
	background-color: #c6f6e0;
	padding: 1px 0;
	margin: 0;
	margin-bottom: 8px;
	border: 1px solid #048d22;
	font-size: 17px;
	line-height: 30px;
	font-family: 'Raleway',sans-serif, helvetica;
	font-weight: 500;
	-webkit-appearance: none;
}

#istlogo{
	padding-top: 220px;
}

@media only screen and (max-width: 768px) {
#istlogo{
	padding-top: 30px;
}
}