#section1.section
  
  #campus1.slide
    .intro
      .white
      .container
        .row.rowtop.rowbottom
          .eight.columns.offset-by-seven
            .box.purple
              h3.title3
                | L'avvenire in pratica
              p.bodycopy
                | Qualcosa di più di una scuola, qualcosa di diverso dall'accademia. Un luogo di formazione che è già posto di lavoro, dove si impara facendo. Dove i docenti sono professionisti e imprenditori che applicano e rinnovano quotidianamente in azienda il sapere e l'esperienza che trasmettono. Che tu ti senta più startupper o sogni l'assunzione, il nostro obiettivo è ampliare il campo delle tue possibilità. Campus, appunto. La Fondazione ITS per l'ICT Piemonte è un incubatore di futuro.
  #campus2.slide
    .intro
  
      .container
        
        .row
          .eight.columns.offset-by-seven
            .box.purple
              h3.title3
                | Il campo d'azione
              p.bodycopy
                | La Piazza dei Mestieri. Un complesso di archeologia industriale riconvertito che ospita aule con lavagne interattive, una Apple room con 31 iMac e una PC room con 150 postazioni, sale studio dove sviluppare i progetti individuali e in team, una meeting hall, aree all'aperto per fare community e il birrificio La Piazza, che ospita eventi e concerti. A disposizione degli studenti ci sono attrezzature e mezzi di produzione, dai tablet alle videocamere, che possono anche essere presi in prestito per continuare il lavoro e la sperimentazione fuori dal campus.
    
