/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/*.fp-section,
.fp-slide,
.fp-tableCell{
    height: auto !important;
}*/


.grey{
  background-color: #607D8B !important;
}

.fp-controlArrow {
	top: calc(50% + 120px) !important;
  z-index: 10000 !important;
}

.fp-controlArrow.fp-prev{
  z-index: 10000 !important;
  border-color: transparent #FF5722 transparent transparent;
  left: 20px;
  width: 0;
  border-width: 14px 14px 14px 0;
}

.fp-controlArrow.fp-next{
  z-index: 10000 !important;
  border-color: transparent transparent transparent #FF5722;
  z-index: 10000 !important;
  right: 20px;
  border-width: 14px 0 14px 14px;
}

#fp-nav span, .fp-slidesNav span{
  border-color: #455A64;

}
#fp-nav li .active span, .fp-slidesNav .active span{
  background: #FF5722 !important;
  border-color: #FF5722 !important;
}
.container{
  z-index: 1;
}
.white{
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);;
}

.section .mdl-grid h1{
  font-size: 32px;
	margin-bottom: 0;
}

.section .mdl-grid p b{
  font-weight: bold;
}

li.erasmus{
	padding: 10px;
	background-color: #0062AE;
	text-align: center;

}
li.erasmus a{
	color: white;

}

.lingua{
/*width: 200px;*/
margin-top: -25px;
margin-left: 65px;
}

.lang{
color: white!important;
padding-right: 8px;
}

.lang2{
color: white!important;
padding-left: 8px;
border-left: 1px solid #fff;
}

a:hover{
  color: white;
	/*font-weight: bold;*/
}

a:hover span{
  opacity: 0.8;
}


.iphone{
	display: none;
}

.noiphone{
	display: block;
}


.scrollmobile{
	display: none;
}



#popupContainer #shade{
	background-color: white;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
}
#popup{
  margin: auto;
  position: absolute;
  top: 10%;
	left: -20px;
	right: 0;
  min-height: 20%;
	max-height: 90%;
  width: 70%;
  background:#607D8B;
  padding:20px;
  z-index: 5001;
}
#popup b{
	font-weight: bold;
}

#popup .scroller{
	overflow-y: scroll;
	margin-bottom: 45px;
}
#popup .scroller div{
	padding: 1em;
	margin: 0 0 10px 0;
}
#popup span{

	font-size: 16px;
	line-height: 22px;
	color: white;
	text-align: left;

}

#popup h2{
	text-align: center;
	font-size: 28px;
	line-height: 30px;
	margin-top: 20px;

}

#popup p{
padding: 0.2em;
}

#close{
  position:absolute;
  background:#FF5722;
  color:white;
  left:0;
  bottom:0;
  width:100%;

 }

 #close p{
 height:40px;
 line-height:40px;
 text-align:center;
 font-size:1em;
 cursor:pointer;
 }




/*bandi*/
.article_bandi{
	margin-right: 2%;
	margin-left: 2%;
}


h2.pageTitleBandi{
	padding: 0;
	padding-top: 60px;	}

#bandi{
	width: auto;
}


.bandiAperti{
	margin-right: 2%;
}

.bandiChiusi{
	margin-left: 2%;
}

.bandiaperti{

	font-size: 25px;
	line-height: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 28px;
}

.bandichiusi {

	font-size: 25px;
	line-height: 10px;
	margin-left: 20px;
	margin-bottom: 8px;
	margin-top: 28px;

}

#bandi h3{
	font-size: 1.4em;
	padding: 1em;
	padding-bottom: 0;
	margin: 0;
	font-weight: 700;
}

.accordion {
	margin-top: 2em;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}
.accordion ul,ol{
	list-style: disc;
}

.accordion dt, .accordion dd {
	padding: 1em ;
}

.accordion dt{
	background-color: rgba(255, 255, 255, .05);
	border-top: 2px solid #9b59b6;
}

.accordion dt a, .accordion dd a {
	font-size: 1.3em;
	display: block;
	color: white;
	font-weight: 600;
	line-height: 22px;
}

.accordion dd {
	font-size: 1.2em;
	font-weight: 300;
}

.accordion dd:last-of-type {
	position: relative;
	border-bottom: none;
}

.accordion dd>ul{
	padding-left: 1.5em;
	padding-bottom: 1em;
	padding-top: 1em;
}

.accordion dd ul.secondoLivello{
	padding-left: 1em;
	padding-bottom: 1em;
}

a.link_bandi{
	height: 2em;
	margin: 0;
	margin-top: 5%;
	margin-bottom: 4%;
}

.primoLivello{
	list-style: inherit;
}

.secondoLivello{
	list-style-type: circle;
}

.icon_pdf {
	background-image: url(../images/icon_pdf.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 1.5em; /* Or size of icon + spacing */
	padding-left: 2.5em;
	height: 2.5em;
	margin-top: 1em;
	font-size: 0.7em;
}
#bandibody{
	background-color: #9b59b6;
}
#sectionbandi{
  height: 100%;
	background-color: #9b59b6;

}



/*end bandi*/



/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:500; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../images/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}


#istituzionale_home{
	bottom: 50px;
	position: absolute;
	left: 50px;
	margin-bottom: 0;
	display: table;
}
#istituzionale_home li{
	float:left;
	display: block;
  height: 100px;
  line-height: 100px;
	padding: 0 10px;

}
#istituzionale_home li img{
	vertical-align: middle;
}

#istituzionale_home li{
	margin-bottom: 0;
}
.istit{
	padding-bottom: 20px;
	max-width: 100%;
}

#erasmus{
	max-width: 100%;
}

#miur{
	max-width: 80px;
}

#bandi{
	width: 200px;
}

#link_news{
	width: 12%;
	height: auto;
	right: 50px;
	padding-top: 0;
	bottom: 50px;
	position: absolute;
}
#link_news li{
	margin-bottom: 0;
}

.box{
	margin: 0;
	padding: 20px;
}

.purple{
	margin-top: 80px;
  background-color: #ffffff;
 	background-color: rgba(255, 255, 255, 0.70);

}

.green{
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.70);
}

a.button{
	background-color: #FF5722;
	line-height: 24px;
	font-size: 18px;
	text-decoration: none;
  color: white;
	font-family: 'Raleway',sans-serif, helvetica;


	padding: 28px 28px;
	display: block;

}
a.button span{
	line-height: 34px;
	text-align: center;
	display: inline-block;
	width: 100%;
	font-size: 28px;
	font-weight: 600;
}

.red{
  background-color: #ffffff;
 	background-color: rgba(255, 255, 255, 0.70);

}

.blue{
	margin-top: 80px;
  background-color: #ffffff;
 	background-color: rgba(255, 255, 255, 0.70);

}



.buoy{
	position: absolute;
	bottom: 50px;
	z-index: 250;
}

.rowtop{
	padding: 60px 0 0 0 ;
}

.rowbottom{
	padding: 0 0 60px 0 ;
}

p.corso{
	margin: 0 0 8px 0;
	font-size: 14px;
	line-height: 18px;


}

/* MAP
================================================== */


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
.text-align{
	text-align: center;
}

#menu{
	position:fixed;
	top:0;
	right:0;
	height: 50px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	background: rgba(36,47,54, .7);
}

#menu li {
	display:inline-block;
	margin: 7px 0px;
	font-family: 'Raleway',sans-serif, helvetica;
	font-weight: 500;
	float: right;
	}
#menu li.active{
	color: #000000;
}
#menu li a{
  font-size: 12px;
	text-decoration:none;
	color: white;
  display:inline-block;
  text-align:center;
  border-bottom: 1px solid rgba(100, 13, 34, 0);
}
#menu li a:hover{
	color: #FF5722;
  font-weight: 500;
  /*border-bottom: 1px solid rgba(255, 87, 34, 1);*/
}

#menu li a::after {
    display:block;
    content:attr(title);
    font-weight:bold;
    height:1px;
    color:transparent;
    overflow:hidden;
    visibility:hidden;
    margin-bottom:-1px;
}

#menu li:hover{

}
#menu li.colored{
	background-color: #FF5722;

}

@media screen and (max-width: 767px){
  #fp-nav.left {
      left: 4px;
  }
}

@media screen and (min-width: 768px){
  #menu li.colored{
    margin-right: 10px;
  }
}



#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #FF5722;
	text-decoration: underline;
  font-weight: 600;
}

#menu li.colored a:hover{
  opacity: .7;
  color: white;
}


#logo{
	position:fixed;
	left: 20px;
	top: 8px;
	z-index:100;
	color: white;
	width:50px;
}

#info{
	font-size: 14px;
}


#section0{
	background-image: url(../images/sfondo_home.jpg);
	background-repeat: no-repeat;
 	background-position: center center;
 	-webkit-background-size: cover;
	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
 	position: relative;
}

#campus1{
	background-image: url(../images/bg1.jpg);
 	background-repeat: no-repeat;
 	background-position: center center;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
	background-size: cover;
}

#campus2{
	background-image: url(../images/bg2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#campus3{
	background-image: url(../images/bg3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#aziende1{
	background-image: url(../images/bg8.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#mobile1{
  background-image: url(../images/bg_mob.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#mobile2{
	background-image: url(../images/bg4.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#mobile3{
	background-image: url(../images/bg5.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#mobile4{
	background-image: url(../images/bg6.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


#coding1{
  background-image: url(../images/bg_code.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#mobile5{
  background-color: #607D8B;
}


#coding5{
  background-color: #607D8B;
}

#aziende2{
	background-image: url(../images/bg7.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#video1{
  background-image: url(../images/bg_vid.jpeg);
	background-repeat: no-repeat;
	background-position: left center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


#video2{
	background-image: url(../images/bg4v.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#video3{
	background-image: url(../images/bg5v.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


#video4{
	background-image: url(../images/bg6v.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#video5{
  background-color: #607D8B;
}

#aziende4{
	background-image: url(../images/bg10.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#aziende3{
	background-image: url(../images/picjumbo.com_IMG_5992.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#map {
	width: 100%;
	height: 100%;
}

#contatti1{
	background-image: url(../images/picjumbo222.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 768px) {

.iphone{
	display: none;
}

.noiphone{
	display: block;
}

.icon_pdf{
	 font-size: 14px;
	 line-height: 28px;
	 padding: 0.6em; /* Or size of icon + spacing */
	 padding-left: 1.7em;
}


.btn{
	right: 200px;
  background-color: rgba(255, 87, 34, 1);
	}


#fullPage-nav.left {
	left: 10px;
}

.title{
	color: white;
	line-height: 40px;
	font-size: 36px;
}

.title2{
	color: white;
	line-height: 28px;
	font-size: 24px;
}

.bodycopy{
	color: #212121;
	font-size: 16px;
	line-height: 20px;
}


#mobile2{
	background-image: url(../images/bg4_ipad.png);
}

#mobile3{
	background-image: url(../images/bg5_ipad.png);
}


#mobile4{
	background-image: url(../images/bg6_ipad.png);
}

#video2{
	background-image: url(../images/bg4v_ipad.png);
}

#video3{
	background-image: url(../images/bg5v_ipad.png);
}

#video4{
	background-image: url(../images/bg6v_ipad.png);
}

#popup{
  width: 60%;
	left: 0;
}

#popup h2{
	font-size: 24px;
}

#popup span{
    font-size: 14px;
}

}


	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 420px) {

.iphone{
	display: block;
}

.iphone_menu, .noiphone{
	display: none;
}


#popup{
	top: 10%;
  width: 85%;
  min-height: 320px;
  padding:10px;
	left: 0;
  z-index: 1001;
}

#popup h2{
	text-align: center;
	padding: 0.2em ;
	font-size: 14px;
	line-height: 1.1em;
}

#popup p{
	padding: 4px;
	font-size: 12px;
	line-height: 16px;
}

#close{
	height: 44px;
}


 #close p{
 height:44px;
 line-height:44px;
 font-size:1.2em;
 }


.rowtop{
	padding: 10px 0 0 0 ;
}

.rowbottom{
	padding: 0 0 10px 0 ;
}

.purple{
	margin-top: 10px;
}

.green{
	margin-top: 10px;
}

.red{
	margin-top: 10px;
}

.blue{
	margin-top: 10px;
}


#logo{
	position:fixed;
	left: 10px;
	top: 9px;
	width:44px;
}

#menu{
	position:fixed;
	top:0;
	left:0;
	z-index: 3000;
	width: 100%;
	height: auto;
	padding: 0;
	margin:0;
	background:#212121;
}

#iphone_menu {
font-family: 'Raleway',sans-serif, helvetica;
font-weight: 700;
color: white;
padding: 0 calc(100% - 65px);
/*margin: 0 50%;*/
line-height: 50px;
text-align: center;
}



#menu li {
	display:block;
	width: 100%;
	margin: auto;
	font-family: 'Raleway',sans-serif, helvetica;
	font-weight: 600;
	float: right;
	border-top: 1px solid #fff;	}

#menu li a{
	text-decoration:none;
	color: white;
	text-align: center;
}


.fullPage-slidesNav {
    opacity: 0;
}

#istituzionale_home{
	bottom: 17px;

	left: 20px;
	margin-left: 0;

	display: table;
}

#istituzionale_home li{
	float:left;
	display: block;
  height: 50px;
	width: 50px;
  line-height: 50px;
	padding: 0 5px;
	margin-bottom: 3px;
}
#istituzionale_home li img{
	vertical-align: middle;
}

#istlogo{

	padding-top: 30px;
}

.istit{
	left: 0px;
	bottom: 10%;
	max-width: 60px;

	display: inline;
}

li.erasmus a{
	font-size: 12px;

}
#link_news{
	right: 10px;
	width: 25%;
	height: auto;
	bottom: 0;
	position: absolute;
}


.btn{
	width: 40%;
	}



.buoy{
	position: absolute;
	top: 10px;
}



	/*bandi*/


div.article.article_bandi{
	width: 100%;
	background-color:#9b59b6 ;
	margin: 0;
	padding: 0;
}

h2.pageTitleBandi{
	width: 100%;
	margin:auto;
	font-size: 2em;
	font-weight: 300;
	padding: 0;
	padding-top: 40px;
	text-align: center;
	}

#bandi{
	width: auto;
	margin: 2.5% 10px;
}

.bandiAperti{
	margin-right: 0;
}

.bandiChiusi{
	margin-left: 0;
}

a.link_bandi{
	margin-top: 1.5em;
}



	 /*end bandi*/

#fullPage-nav.left {
	display: none;
}

.scale-with-grid2{
	width:90%;
}


.title{
	font-size: 1.8em;
	line-height: 1.5em;
}
.title2{
	font-size: 1.2em;
	line-height: 1.3em;
	font-weight: 700;
	text-align: center;
}
.title3{
	font-size: 24px;
	line-height: 1.3em;
	font-weight: 600;
}
.bodycopy{
	line-height: 18px;
	font-size: 14px;
}


.scrollmobile{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#mobile2,
#video2{
	background-image: none;
}

#mobile3,
#video3{
	background-image: none;
	background-color: #455A64;
}

#mobile4,
#video4{
	background-image: none;
	background-color: #455A64;
}


.accordion dt a, .accordion dd a {

	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}

.accordion dd{
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}

.icon_pdf {
	background-size: 19px 27px;
	font-weight: 300;
}

.mobilemargin{
	margin: 40px 0 0 70px;
}

}
/* #Font-Face
==================================================
 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets

@font-face {
    font-family: 'bebasregular';
    src: url('font/BEBAS___-webfont.eot');
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BEBAS___-webfont.woff') format('woff'),
         url('font/BEBAS___-webfont.ttf') format('truetype'),
         url('font/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;*/



/***********       DOTS      *****************/

#fullPage-nav span, .fullPage-slidesNav span{
  border-color: white;
}

/*#fullPage-nav li .active span, .fullPage-slidesNav li .active span{
  background-color: white;
  border-color: white;

}*/
